{% extends "layout.html" %}
{% block title %}Admin - Page Info{% endblock %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}
{% set active = 'admin.pages' %}

{% block content %}

{% set extra_setting_links = admin_pages_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <div class="h2">{{ page.name }}</div>
    </div>
    <div class="col-auto">
      <div class="btn-toolbar">
      {% if current_user.permission('admin.page', crud='update') %}
          <div class="btn-group mr-2">
              <a role="button"
                 href="{{ url_for('admin.pages_edit', id=page.id) }}"
                 class="btn btn-sm btn-primary">Edit
              </a>
          </div>
      {% endif %}
      {% if current_user.permission('admin.page', crud='delete') %}
          <div class="btn-group mr-2">
          {{ forms.action_confirm(
              id="delete" ~ page.id,
              url=url_for('admin.pages_delete', id=page.id),
              title="Delete",
              btn="btn btn-sm btn-warning",
              icon_only=False,
              target="#confirmModal")
          }}
          </div>
      {% endif %}
      </div><!-- end of toolbar -->
    </div><!-- end of col toolbar -->
</div><!-- end of row -->

<div class="row">
  <div class="col-md-5 well">
    	<div class="form-group">
	        <div class="mb-2">
	        	<div><strong>Name</strong></div>
	        	<div>{{ page.name }}</div>
	        </div>
	        <div class="mb-2">
	        	<div><strong>Route</strong></div>
	        	<div>{{ page.route }}</div>
	        </div>
	        <div class="mb-2">
	        	<div><strong>Active</strong></div>
	        	<div>{{ page.render(page.active) }}</div>
	        </div>
	        <div class="mb-2">
	        	<div><strong>Content</strong></div>
	        	<div>{{ page.content }}</div>
	        </div>
        </div>
  </div>
</div>
{% include "partials/confirm_dialog.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock scripts %}
