{% extends "layout.html" %}
{% import 'macros/form.html' as forms with context %}
{% import 'macros/pagination.html' as items %}
{%- from "macros/navigation.html" import navlink with context -%}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% set table_name = 'system_email' %}

{% block title %}Emails - Admin{% endblock %}

{% block content %}

{% set extra_setting_links = admin_emails_sidebar(user=current_user) %}

{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

{{ forms.search('admin.emails') }}
<input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">

{% if emails.total == 0 %}
    {% if request.args.get('q') %}
        <h3>No results found.</h3>
    {% endif %}
{% else %}

{% include "actions_btn.html" %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <label for="select_all"></label>
          <input id="select_all" name="select_all" type="checkbox">
        </th>
        <th class="col-header">
          {{ items.sort('name') }}
        </th>
        <th class="col-header">
          {{ items.sort('email') }}
        </th>
        <th class="col-header">
          {{ items.sort('created_at', 'Created') }}
        </th>
        <th class="col-header">
          {{ items.sort('updated_at', 'Last updated') }}
        </th>
        <th>
        <!-- for edit and delete buttons -->
        </th>
      </tr>
    </thead>
    <tbody>
    {% for email in emails.items %}
      <tr>
        <td>
          <label for="bulk_ids"></label>
          <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                 type="checkbox" value="{{ email.id }}">
        </td>
        <td>
            <a href="{{ url_for('admin.emails_info', id=email.id) }}">
                <h6>{{ email.name }}</h6>
            </a>
        </td>
        <td>
            {{ email.email }}
        </td>
        <td>
          {% if email.created_at %}
          <time class="from-now" data-datetime="{{ email.created_at }}">
              {{ email.pretty_date(email.created_at) }}
            <div class="text-muted">{{ email.created_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
          {% endif %}
        </td>
        <td>
        {% if email.updated_at %}
          <time class="from-now" data-datetime="{{ email.updated_at }}">
              {{ email.pretty_date(email.updated_at) }}
            <div class="text-muted">{{ email.updated_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
        {% endif %}
        </td>
        <td>
            {% if current_user.permission('admin.system_email', crud='update') %}
                <a class="btn btn-sm btn-primary" 
                   href="{{ url_for('admin.emails_edit', id=email.id) }}" type="button">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            {% endif %}
            {% if current_user.permission('admin.system_email', crud='delete') %}
                {{ forms.action_confirm(
                    id="delete" ~ email.id,
                    url=url_for('admin.emails_delete', id=email.id),
                    title="Delete", 
                    btn="btn btn-sm btn-warning",
                    icon="bi bi-trash",
                    target="#confirmModal") 
                }}
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{{ items.paginate(emails) }}
{% include "partials/confirm_dialog.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock %}
