{% extends "layout.html" %}
{% block title %}Admin - Email Info{% endblock %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}
{% set active = 'admin.emails' %}

{% block content %}

{% set extra_setting_links = admin_emails_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <div class="h2">{{ email.name }}</div>
    </div>
    <div class="col-auto">
      <div class="btn-toolbar"> 
      {% if current_user.permission('admin.system_email', crud='update') %}
          <div class="btn-group mr-2"> 
              <a role="button" 
                 href="{{ url_for('admin.emails_edit', id=email.id) }}"
                 class="btn btn-sm btn-primary">Edit
              </a>
          </div>
      {% endif %}
      {% if current_user.permission('admin.system_email', crud='delete') %}
          <div class="btn-group mr-2"> 
          {{ forms.action_confirm(
              id="delete" ~ email.id,
              url=url_for('admin.emails_delete', id=email.id),
              title="Delete", 
              btn="btn btn-sm btn-warning",
              icon_only=False,
              target="#confirmModal") 
          }}
          </div>
      {% endif %}
      </div><!-- end of toolbar -->
    </div><!-- end of col toolbar -->
</div><!-- end of row -->

<div class="row">
  <div class="col-md-5 well">
    <div class="form-group">
        <div class="mb-2">
        	<div><strong>Display Name</strong></div>
        	<div>{{ email.name }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Send Email From</strong></div>
        	<div>{{ email.email }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Mail Server</strong></div>
        	<div>{{ email.server }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Mail Port</strong></div>
        	<div>{{ email.port }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>SSL/TLS</strong></div>
        	<div>{{ email.render(email.ssl) }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>STARTTLS</strong></div>
        	<div>{{ email.render(email.starttls) }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Use Mail Server Username and Password?</strong></div>
        	<div>{{ email.render(email.auth) }}</div>
        </div>
	{% if email.username %}
        <div class="mb-2">
        	<div><strong>Mail Username</strong></div>
        	<div>{{ email.username }}</div>
        </div>
	{% endif %}
    </div>
  </div>
  <div class="col-md-5 well">
      <div class="alert alert-info">
  		        <i class="fas fa-info pr-1"></i>
  	        <small class="text-muted">
              This will attempt an SMTP connection using your saved configuration
          </small>
      </div>
      <button class="btn btn-primary" type="button" onclick="testEmail()">Test Email Config</button>
      <div class="mt-2 mb-2" id="test-email-status"></div>
  </div>
</div>
{% include "partials/confirm_dialog.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
<script>
    var test_email_url = '{{ url_for("admin.test_email_config", id=email.id) }}'
</script>
<script src="{{ url_for('static', filename='js/testEmailCon.js') }}"></script>
{% endblock scripts %}
