{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}
{%- from "macros/navigation.html" import sidebaritems with context -%}


{% block content %}

{% set active = 'admin.sites' %}
{% set extra_setting_links = admin_site_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

{% if request.endpoint.endswith('new') %}

{% set endpoint = 'admin.sites_new' %}
{% set legend = 'Add new site' %}
{% set button = 'Save' %}

<legend>{{ legend }}</legend>

  {% call f.form_tag(endpoint, form=form) %}
      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.country, css_class='sm-margin-bottom') %}
      {% endcall %}

  <!-- Submit buttons -->
  <hr/>
  <div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary btn-block mr-3">{{ button }}</button>
    </div>
    <div class="col">
      <div class="visible-xs visible-sm sm-margin-top"></div>
      <a href="{{ url_for('admin.sites') }}"
          class="btn btn-light bg-opacity-10 btn-block">
        Cancel
      </a>
    </div>
  </div>
  {% endcall %}
  <!-- End of Submit buttons -->
{% else %}
<!-- Edit Site -->
{% set endpoint = 'admin.sites_edit' %}
{% set form_kwargs = {'id': site.id} %}
{% set legend = 'Edit' %}
{% set button = 'Save' %}

  <legend>{{ legend }}</legend>

  {% call f.form_tag(endpoint, form=form, fid='editor-form', **form_kwargs) %}
      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.country, css_class='sm-margin-bottom') %}
      {% endcall %}
  <!-- Submit buttons -->
  <hr/>
  <div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary btn-block mr-3">{{ button }}</button>
    </div>
    <div class="col">
      <div class="visible-xs visible-sm sm-margin-top"></div>
      <a href="{{ url_for('admin.sites', id=site.id) }}"
          class="btn btn-light bg-opacity-10 btn-block">
        Cancel
      </a>
    </div>
  </div>
  {% endcall %}

{% endif %}
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
{% endblock %}
