{% extends "layout.html" %}
{% import 'macros/form.html' as forms with context %}
{% import 'macros/pagination.html' as items %}
{%- from "macros/navigation.html" import navlink with context -%}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% set table_name = 'site' %}

{% block title %}Sites - Admin{% endblock %}

{% block content %}

{% set extra_setting_links = admin_site_sidebar(user=current_user) %}

{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

{% if sites.total == 0 %}
    {% if request.args.get('q') %}
        <h3>No results found.</h3>
        {{ forms.search('admin.sites') }}
    {% endif %}
{% else %}

  <div class="btn-toolbar" role="toolbar">
    {% include "actions_btn.html" %}
    {{ forms.search('admin.sites') }}
    <input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <label for="select_all"></label>
          <input id="select_all" name="select_all" type="checkbox">
        </th>
        <th class="col-header">
          {{ items.sort('name') }}
        </th>
        <th class="col-header">
          {{ items.sort('country') }}
        </th>
        <th class="col-header">
          {{ items.sort('created_at', 'Created') }}
        </th>
        <th class="col-header">
          {{ items.sort('updated_at', 'Last updated') }}
        </th>
        <th>
        <!-- for edit and delete buttons -->
        </th>
      </tr>
    </thead>
    <tbody>
    {% for site in sites.items %}
    <tr data-href="{{ url_for('admin.sites_info', id=site.id) }}">
        <td>
          <label for="bulk_ids"></label>
          <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                 type="checkbox" value="{{ site.id }}">
        </td>
        <td>
            {{ site.name }}
        </td>
        <td>{{ site.country }}</td>
        <td>
	    {% if site.created_at %}
          <time class="from-now" data-datetime="{{ site.created_at }}">
              {{ site.pretty_date(site.created_at) }}
            <div class="text-muted">{{ site.created_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
	    {% endif %}
        </td>
        <td>
        {% if site.updated_at %}
          <time class="from-now" data-datetime="{{ site.updated_at }}">
              {{ site.pretty_date(site.updated_at) }}
            <div class="text-muted">{{ site.updated_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
        {% endif %}
        </td>
        <td>
            {% if current_user.permission('admin.site', crud='update') %}
                <a class="btn btn-sm btn-primary" 
                   href="{{ url_for('admin.sites_edit', id=site.id) }}" type="button">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            {% endif %}
            {% if current_user.permission('admin.site', crud='delete') %}
                {{ forms.action_confirm(
                    id="delete" ~ site.id,
                    url=url_for('admin.sites_delete', id=site.id),
                    title="Delete", 
                    btn="btn btn-sm btn-warning",
                    icon="bi bi-trash",
                    target="#confirmModal") 
                }}
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{{ items.paginate(sites) }}

{% with %}
{% set url_args = {'table': 'user'} %}
{{ forms.modal_bulk_action(
    id="bulkDelete",
    label="bulkDeleteLabel",
    title="Delete",
    text="Are you sure you want to delete the selected sites?",
    url='admin.bulk_delete',
    btn_text="Delete",
    url_args=url_args
    )
}}
{% endwith %}

{% with %}
{% set url_args = {'table': 'user'} %}
{{ forms.modal_bulk_action(
    id="bulkDisable",
    label="bulkDisableLabel",
    title="Disable",
    text="Are you sure you want to disable the selected sites?",
    url='admin.bulk_disable',
    btn_text="Disable",
    url_args=url_args
    )
}}
{% endwith %}

{% with %}
{% set url_args = {'table': 'user'} %}
{{ forms.modal_bulk_action(
    id="bulkEnable",
    label="bulkEnableLabel",
    title="Enable",
    text="Are you sure you want to enable the selected sites?",
    url='admin.bulk_enable',
    btn_text="Enable",
    url_args=url_args
    )
}}
{% endwith %}

{% include "partials/confirm_dialog.html" %}

{% endif %}<!-- end if sites exist -->

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectTableRow.js') }}"></script>
{% endblock scripts %}
