{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}
{%- from "macros/navigation.html" import sidebaritems with context -%}


{% block content %}
    {% set active = 'admin.public_holiday_groups' %}
    {% set extra_setting_links = admin_public_holiday_groups_sidebar(user=current_user) %}
    {% include "menu.html" %}
    {{ sidebaritems(extra_setting_links) }}

{% if request.endpoint.endswith('new') %}

{% set endpoint = 'admin.public_holiday_new' %}
{% set form_kwargs = {'id': group.id} %}
{% set legend = 'Add new public holiday' %}
{% set button = 'Save' %}

<legend>{{ legend }}</legend>

  {% call f.form_tag(endpoint, form=form, fid='editor-form', **form_kwargs) %}
      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.start_date, css_class='sm-margin-bottom') %}
      {% endcall %}

  <!-- Submit buttons -->
  <hr/>
  <div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary btn-block mr-3">{{ button }}</button>
    </div>
    <div class="col">
      <div class="visible-xs visible-sm sm-margin-top"></div>
      <a href="{{ url_for('admin.public_holiday_groups_info', id=group.id) }}"
          class="btn btn-light bg-opacity-10 btn-block">
        Cancel
      </a>
    </div>
  </div>
  {% endcall %}
  <!-- End of Submit buttons -->
{% else %}
<!-- Edit Public Holiday -->
{% set endpoint = 'admin.public_holiday_edit' %}
{% set form_kwargs = {'group_id': group.id, 'id': holiday.id} %}
{% set legend = 'Edit' %}
{% set button = 'Save' %}

  <legend>{{ legend }}</legend>

  {% call f.form_tag(endpoint, form=form, fid='editor-form', **form_kwargs) %}
      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.start_date, css_class='sm-margin-bottom') %}
      {% endcall %}

  <!-- Submit buttons -->
  <hr/>
  <div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary btn-block mr-3">{{ button }}</button>
    </div>
    <div class="col">
      <div class="visible-xs visible-sm sm-margin-top"></div>
      <a href="{{ url_for('admin.public_holiday_groups_info', id=group.id) }}"
          class="btn btn-light bg-opacity-10 btn-block">
        Cancel
      </a>
    </div>
  </div>
  {% endcall %}

{% endif %}
{% endblock content %}
