**/__pycache__
**/*.pyc
**/*.Python
*.env
*.git
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.bmp
*.webp
migrations/versions/*
app/static/img/media/*
app/static/img/profile_pics/*
!app/static/img/profile_pics/default.png
*.db
*.txt
!requirements.txt
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
celerybeat-schedule
celerybeat.pid
