{% extends "layout.html" %}
{% block title %}Admin - Entitlement Template Info{% endblock %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}
{% set active = 'admin.entts' %}

{% block content %}

{% set extra_setting_links = admin_entt_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}


<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <div class="h2">{{ entt.name }}</div>
    </div>
    <div class="col-auto">
      <div class="btn-toolbar"> 
      {% if current_user.permission('admin.entt', crud='update') %}
          <div class="btn-group mr-2"> 
              <a role="button" 
                 href="{{ url_for('admin.entt_edit', id=entt.id) }}"
                 class="btn btn-sm btn-primary">Edit
              </a>
          </div>
      {% endif %}
      {% if current_user.permission('admin.entt', crud='delete') %}
          <div class="btn-group mr-2"> 
          {{ forms.action_confirm(
              id="delete" ~ entt.id,
              url=url_for('admin.entt_delete', id=entt.id),
              title="Delete", 
              btn="btn btn-sm btn-warning",
              icon_only=False,
              target="#confirmModal") 
          }}
          </div>
      {% endif %}
      </div><!-- end of toolbar -->
    </div><!-- end of col toolbar -->
</div><!-- end of row -->


<div class="row">
  <div class="col-md-5 well">
    <div class="form-group">
        <!-- Leave Type Settings -->
        <div class="mb-2">
        	<div><strong>Name</strong></div>
        	<div>{{ entt.name }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Description</strong></div>
        	<div>{{ entt.description }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Time Unit</strong></div>
        	<div>{{ entt.time_unit }}</div>
        </div>
        {% if entt.time_unit == 'hours' %}
        <div class="mb-2">
        	<div><strong>Working Hours Per Day</strong></div>
        	<div>{{ entt.working_hours_per_day }}</div>
        </div>
        {% endif %}
        <div class="mb-2">
        	<div><strong>Default Entitlement</strong></div>
        	<div>{{ entt.default_entitlement }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Entitlement Cap</strong></div>
        	<div>{{ entt.entitlement_cap }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Maximum Carry Over</strong></div>
        	<div>{{ entt.max_carryover }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Public Holiday Group</strong></div>
        	<div>{{ entt.public_holiday_group }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Leave Types Enabled</strong></div>
            {% for type in entt.leave_types %}
        	<div>{{ type }}</div>
            {% endfor %}
        </div>
    	<div class="mb-2">
    		<div><strong>Weekends</strong></div>
    		<div>{{ entt.render(entt.weekend) }}</div>
    	</div>
    	<div class="mb-2">
    		<div><strong>Half Days</strong></div>
    		<div>{{ entt.render(entt.half_day) }}</div>
    	</div>
    </div>
  </div>
</div>
{% include "partials/confirm_dialog.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock scripts %}
