{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}
{%- from "macros/navigation.html" import sidebaritems with context -%}

{% set heading = 'Edit Settings and Preferences' %}
{% block title %}{{ heading }}{% endblock %}

{% block content %}
{% set extra_setting_links = admin_settings_sidebar(user=current_user) %}
{% set active = 'admin.settings' %}
{% set endpoint = 'admin.settings_edit' %}
{% set button = 'Save' %}

{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

{% call f.form_tag(endpoint, form=form) %}
<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <legend>{{ heading }}</legend>
    </div>
</div>

<div role="tabpanel" class="tab-pane config-section" id="tab-panel">
	<ul class="nav nav-tabs mb-3" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#email" aria-controls="email" role="tab" data-toggle="tab">Email</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#pagi" aria-controls="pagi" role="tab" data-toggle="tab">Pagination</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="general">
			<div class="form-group">
                {% call f.form_group(form.site_name) %}
                {% endcall %}
                {% call f.form_group(form.company_name) %}
                {% endcall %}
                {% call f.form_group(form.company_website) %}
                {% endcall %}
                {% call f.form_group(form.auth_type) %}
                {% endcall %}
                {% call f.form_group(form.forgot_password) %}
                {% endcall %}
            </div>
		</div>
        <!-- USERS CONFIG
		<div role="tabpanel" class="tab-pane" id="users">
        </div> -->
        <!-- EMAIL CONFIG -->
		<div role="tabpanel" class="tab-pane" id="email">
			<div class="form-group">
                {% call f.form_group(form.system_email) %}
                {% endcall %}
                {% call f.form_group(form.alert_email) %}
                {% endcall %}
			</div>
        </div>
        <!-- PAGINATION CONFIG -->
		<div role="tabpanel" class="tab-pane" id="pagi">
			<div class="form-group">
                {% call f.form_group(form.items_per_admin_page) %}
                {% endcall %}
                {% call f.form_group(form.users_per_page) %}
                {% endcall %}
                {% call f.form_group(form.departments_per_page) %}
                {% endcall %}
                {% call f.form_group(form.posts_per_page) %}
                {% endcall %}
                {% call f.form_group(form.comments_per_page) %}
                {% endcall %}
                {% call f.form_group(form.leaves_per_page) %}
                {% endcall %}
                {% call f.form_group(form.notifications_per_page) %}
                {% endcall %}
			</div>
        </div>
    </div>
</div>

<!-- Save and Cancel Row -->
<div class="row">
  <div class="col">
    <button type="submit" class="btn btn-primary btn-block">
      {{ button }}
    </button>
  </div>
  <div class="col">
    <div class="visible-xs visible-sm sm-margin-top"></div>
    <a id="info-url" href="{{ url }}"
        class="btn btn-light bg-opacity-10 btn-block">
      Cancel
    </a>
  </div>
</div>
{% endcall %}

{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
    <script>
    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    var infoURL = document.getElementById('info-url');
    infoURL.href = '{{ url }}' + hash;
    $('#tab-panel a[href="' + hash + '"]').tab('show');
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
        infoURL.href = '{{ url }}' + '#' + id;
    });
    </script>

{% endblock scripts %}
