{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}
{%- from "macros/navigation.html" import sidebaritems with context -%}

{% set heading = 'Settings and Preferences' %}

{% block title %}{{ heading }}{% endblock %}

{% block content %}
{% set extra_setting_links = admin_settings_sidebar(user=current_user) %}
{% set endpoint = 'admin.settings' %}

{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}


<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <legend>{{ heading }}</legend>
    </div>
    <div class="col-auto">
      <div class="btn-toolbar"> 
      {% if current_user.permission('admin.settings', crud='update') %}
          <div class="btn-group mr-2"> 
              <a role="button" 
                 id="edit-url"
                 href="{{ url }}"
                 class="btn btn-sm btn-primary">Edit
              </a>
          </div>
      {% endif %}
      </div><!-- end of toolbar -->
    </div><!-- end of col toolbar -->
</div><!-- end of row -->


    <div role="tabpanel" class="tab-pane config-section" id="tab-panel">
    	<ul class="nav nav-tabs mb-3" role="tablist">
    		<li class="nav-item">
    			<a class="nav-link active" href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#email" aria-controls="email" role="tab" data-toggle="tab">Email</a>
    		</li>
    	</ul>
    	<div class="tab-content">
    		<div role="tabpanel" class="tab-pane active" id="general">
    			<div class="form-group">
    			    <div class="mb-2">
    			    	<div><strong>osPortal Name</strong></div>
    			    	<div>{{ settings.osportal_name }}</div>
    			    </div>
    			    <div class="mb-2">
    			    	<div><strong>Company Name</strong></div>
    			    	<div>{{ settings.company_name }}</div>
    			    </div>
    			    <div class="mb-2">
    			    	<div><strong>Company Website</strong></div>
    			    	<div>{{ settings.company_website }}</div>
    			    </div>
    			    <div class="mb-2">
    			    	<div><strong>Auth Type</strong></div>
    			    	<div>{{ settings.auth_type }}</div>
    			    </div>
    			    <div class="mb-2">
    			    	<div><strong>Enable Forgotten Password</strong></div>
    			    	<div>{{ settings.render(settings.forgot_password) }}</div>
    			    </div>
                </div>
    		</div>
            <!-- USERS SETTINGS
    		<div role="tabpanel" class="tab-pane" id="users">
            </div>
            -->

            <!-- EMAIL CONFIG -->
    		<div role="tabpanel" class="tab-pane" id="email">
    			<div class="form-group">
    			    <div class="mb-2">
    			    	<div><strong>System Email</strong></div>
    			    	<div>{{ settings.system_email }}</div>
    			    </div>
    			    <div class="mb-2">
    			    	<div><strong>Alert Email</strong></div>
    			    	<div>{{ settings.alert_email }}</div>
    			    </div>
    			</div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script>
    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    var editURL = document.getElementById('edit-url');
    editURL.href = '{{ url }}' + hash;
    $('#tab-panel a[href="' + hash + '"]').tab('show');
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
        editURL.href = '{{ url }}' + '#' + id;
    });
    </script>
{% endblock scripts %}
