{% extends 'layout.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

{% set endpoint = 'user.forgot_password' %}
{% set legend = 'Forgot Password' %}
{% set button = 'Submit' %}

<div>
<legend>{{ legend }}</legend>
<hr>
    <div>
    <p class="small help-block sm-margin-bottom">
        We'll send you an email to reset your password.
    </p>
    {% call f.form_tag(endpoint, form=form) %}
    
    {% call f.form_group(form.email) %}
    {% endcall %}
    
    <button type="submit" class="btn btn-primary btn-block">
        {{ button }}
    </button>

    {% endcall %}
  </div>
</div>
{% endblock %}
