{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}

{% block content %}

{% set endpoint = 'user.password_reset' %}
{% set form_kwargs = {'token': token } %}
{% set button = 'Submit' %}
{% set legend = 'Reset Password' %}

<div class="row">
    <div class="col-md-5 well">
    <legend>{{ legend }}</legend>
    <hr>

    {% call f.form_tag(endpoint, form=form, **form_kwargs) %}
    
    {% call f.form_group(form.password) %}
    {% endcall %}
    
    {% call f.form_group(form.password2) %}
    {% endcall %}
    
    <button type="submit" class="btn btn-primary btn-block">
        {{ button }}
    </button>
    {% endcall %}
    </div>
</div>


{% endblock %}
