{% extends "layout.html" %}
{% block title %}Admin - Leave Request Info{% endblock %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}
{% set active = 'admin.leave' %}

{% block content %}

{% set extra_setting_links = admin_leave_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}


<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <legend>Leave Request for {{ leave.user }}</legend>
    </div>
    <div class="col-auto"> <div class="btn-toolbar"> 
          <div class="btn-group mr-2"> 
              <a role="button" href="{{ url_for('admin.leave_history', id=leave.id) }}"
                 class="btn btn-sm btn-info">
                  <i class="bi bi-clock-history"></i> History
              </a>
          </div>
      </div>
    </div>
</div>


<div class="row justify-content-between align-items-center mb-3">
  <div class="col-auto">
    <div class="form-group">
        <!-- Leave Info -->
        <div class="mb-2">
        	<div><strong>ID</strong></div>
        	<div>{{ leave.id }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Type</strong></div>
        	<div>{{ leave.ltype }}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Requested Dates</strong></div>
        	<div>
                {{ leave.start_date.strftime("%-d %b, %Y") }}{% if leave.start_date != leave.end_date %} - {{ leave.end_date.strftime("%-d %b, %Y") }}{% endif %}{% if leave.half_day %} (Half Day){% endif %}
            </div>
        </div>
        <div class="mb-2">
        	<div><strong>Duration</strong></div>
        	<div>{{ leave.num_days }}{% if leave.time_unit == 'hours' %} ({{ leave.convert_to_int(leave.duration) }} hours){% endif %}</div>
        </div>
        <div class="mb-2">
        	<div><strong>Time Unit</strong></div>
        	<div>{{ leave.time_unit | title }}</div>
        </div>
        {% if leave.details%}
        <div class="mb-2">
        	<div><strong>Details</strong></div>
        	<div>{{ leave.details }}</div>
        </div>
        {% endif %}
        <div class="mb-2">
        	<div><strong>Status</strong></div>
        	<div>{{ leave.status }}</div>
        </div>
        {% if leave.status_details %}
        <div class="mb-2">
            <div><strong>Reason for {{ leave.status }} Status</strong></div>
        	<div>{{ leave.status_details }}</div>
        </div>
        {% endif %}
        <div class="mb-2">
            <div><strong>Last Actioned By</strong></div>
        	<div>{{ leave.actioned_by }}</div>
        </div>
        <div class="mb-2">
            <div><strong>Current Leave Authoriser for user</strong></div>
        	<div>{{ leave.user.authoriser }}</div>
        </div>
        {% if leave.created_at %}
        <div class="mb-2">
            <div><strong>Created At</strong></div>
        	<div>{{ leave.created_at.strftime("%-d %b, %Y %H:%M") }}</div>
        </div>
        {% endif %}
        {% if leave.updated_at %}
        <div class="mb-2">
            <div><strong>Last Updated</strong></div>
        	<div>{{ leave.updated_at.strftime("%-d %b, %Y %H:%M") }}</div>
        </div>
        {% endif %}
    </div>
  </div>
</div>
{% include "partials/confirm_dialog.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock scripts %}
