{% extends "layout.html" %}
{% import 'macros/form.html' as forms with context %}
{% from 'macros/pagination.html' import paginate %}

{% block title %}Departments{% endblock %}

{% block content %}

<legend>Departments</legend>
<div>Total: {{ departments.items | count }}</div>

{{ forms.search('department.all') }}
<input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">

{% if request.args.get('q') %}
    {% if departments.items | count == 0 %}
        <h3>No results found.</h3>
    {% endif %}
{% endif %}


{% if departments.items %}
<div class="row">
    <!-- Department Cards -->
    {% for department in departments.items %}
    <div class="col-xl-3 col-md-6 mb-4 dash-category">
        <a href="{{ url_for('department.info', id=department.id) }}">
            <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col mr-2">
                                <div class="h6 text-xs font-weight-bold text-primary">
                                    {{ department.name }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="h6 font-weight-bold text-gray-800">{{ department.members.count() }}
                                <i class="bi bi-people-fill h6 text-gray-800"></i>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div><!-- End of row -->
    
    {{ paginate(departments) }}
{% endif %}<!-- end of if departments -->
    
{% endblock %}
