{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}

{% set form_kwargs = {'id': leave.id} %}

{% set leave_user = leave.user | string %}

{% if request.endpoint == 'leave.decline' %}
    {% set heading = 'Decline Request - ' + leave_user %}
    {% set endpoint = 'leave.decline' %}
{% elif request.endpoint == 'leave.revoke' %}
    {% set heading = 'Revoke Request - ' + leave_user %}
    {% set endpoint = 'leave.revoke' %}
{% endif %}

{% block title %}{{ heading }}{% endblock %}

{% block content %}

<legend>{{ heading }}</legend>

<div class="row">
  <div class="col-md-5 well">
    <div class="form-group">
	  <div class="mb-2">
          <strong>Start Date: </strong>{{ leave.start_date.strftime("%-d %b %Y") }}
      {% if leave.half_day %}
        <span><strong> (half day)</strong></span>
      {% endif %}
      </div>
      {% if not leave.half_day %}
	  <div class="mb-2">
          <strong>End Date: </strong>{{ leave.end_date.strftime("%-d %b %Y") }}
      </div>
      {% endif %}
	  <div class="mb-2">
          <strong>Duration: </strong>{{ leave.num_days }}{% if leave.time_unit == 'hours' %} ({{ leave.convert_to_int(leave.duration) }} hours){% endif %}
      </div>
	  <div class="mb-2">
          <strong>Type: </strong>{{ leave.ltype }}
      </div>
      {% if leave.details %}
	  <div class="mb-2">
          <strong>Details: </strong>{{ leave.details }}
      </div>
      {% endif %}
	  <div class="mb-2">
          <strong>Status: </strong>{{ leave.status }}
      </div>
      {% if leave.actioned_by %}
	  <div class="mb-2">
          <strong>Previously Actioned by: </strong>{{ leave.actioned_by }}
      </div>
      {% endif %}
    </div>

    <!-- Action Request Form  -->
    {% call f.form_tag(endpoint, form=form, **form_kwargs) %}

        {% call f.form_group(form.status_details) %}
        {% endcall %}

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-block">
                    Submit
                </button>
            </div>
            <div class="col-md-6">
                    <a href="{{ url_for('leave.authorise') }}" role="button" class="btn btn-light btn-block">
                        Cancel
                    </a>
            </div>
        </div><!-- End of btn row -->
    {% endcall %}
    </div><!-- End of col -->
</div><!-- End of row -->



{% endblock %}
