{% extends "calendar_base.html" %}
{%- import "macros/pagination.html" as items -%}
{% import 'macros/form.html' as forms with context %}

{% block title %}Authorise History{% endblock title %}

{% set revoke_btn = 'Revoke' %}
{% set revoke_endpoint = 'leave.revoke' %}

{% block calendar_content %}

<!-- IF ACTIONED REQUESTS EXIST -->
{% if actioned_leaves.items %}

<legend>Previously actioned requests for users you oversee</legend>

<input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
<table class="table">
    <thead class="thead">
        <tr>
            <th scope="col">
                {{ items.sort('user', 'Requested By') }}
            </th>
            <th scope="col">
                {{ items.sort('ltype', 'Type') }}
            </th>
            <th scope="col">
                {{ items.sort('start_date', 'Start Date') }}
            </th>
            <th scope="col">
                {{ items.sort('end_date', 'End Date') }}
            </th>
            <th scope="col">
                {{ items.sort('days', 'Duration') }}
            </th>
            <th class="col-header">
                Last Actioned By
            </th>
            <th scope="col">
                {{ items.sort('status', 'Status') }}
            </th>
            <th scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
    {% for leave in actioned_leaves.items %}
    <tr>
        <td>
            {{ leave.user }}
        </td>
        <td>
            {{ leave.ltype }}
        </td>
        <td>
            {{ leave.start_date.strftime("%-d %b %Y") }}
        </td>
        <td>
            {{ leave.end_date.strftime("%-d %b %Y") }}
        </td>
        <td>
            {{ leave.num_days }} days
        </td>
        <td>
            <span>{{ leave.actioned_by }}</span>
        </td>
        <td>
            <span>{{ leave.status }}</span>
        </td>
        <td>
            {% if leave.status == 'Approved' %}
                {{ forms.action_confirm(
                    id="revoke" ~ leave.id,
                    url=url_for('leave.revoke', id=leave.id),
                    title="Revoke", 
                    btn="btn btn-sm btn-warning",
                    icon_only=False,
                    target="#confirmModal") 
                }}
            {% endif %}
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{{ items.paginate(actioned_leaves) }}
{% else %}
    <h3>No authorisation history</h3>
{% endif %}


{% include "partials/confirm_dialog.html" %}
{% endblock calendar_content %}
