{% from 'macros/navigation.html' import is_active %}
{% import 'macros/form.html' as f with context %}

{% set endpoint = 'leave.index' %}
{% set button = 'Submit' %}
{% set icon = 'fa fa-calendar' %}
{% set name = 'Personal Calendar' %}
{% set name2 = 'Filter' %}


<div class="btn-toolbar" role="group">
  <div class="btn-group" role="group">
    <a id="btnGroupDrop1" role="button" href="#" class="btn btn-secondary dropdown-toggle mr-1 mb-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Calendars
    </a>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item {{ is_active('leave.index') }}" href="{{ url_for('leave.index') }}">Personal</a>
      {% if current_user.active_departments | count > 1 %}
          <hr class="dropdown-divider"></li>
          <a class="dropdown-item {{ is_active('leave.departments', active) }}" href="{{ url_for('leave.departments') }}">All Departments</a>
          <hr class="dropdown-divider">
      {% endif %}
      {% for dept in current_user.active_departments %}
          <a class="dropdown-item{% if dept.id == request.view_args['id'] %} active disabled{% endif %}" href="{{ url_for('leave.department', id=dept.id) }}">{{ dept.name }}</a>
      {% endfor %}
    </div>
  </div>

  {% if current_user.leaves %}
  <a role="button" href="{{ url_for('leave.history') }}" class="btn btn-secondary mr-1 mb-2 {{ is_active('leave.history') }}">Leave History</a>
  {% endif %}

  {% if current_user.count_authoriser_requests() %}
  <a role="button" class="btn btn-secondary {{ is_active('leave.authorise') }} mr-1 mb-2" href="{{ url_for('leave.authorise') }}">
      <span>Authorise</span>
          {% set authpendingcount =  current_user.pending_authoriser_requests().count() %}
          {% if authpendingcount > 0 %}
              <span class="icon badge badge-danger">{{ authpendingcount }}</span>
          {% endif %}
      </span>
  </a>
  <a role="button" class="btn btn-secondary {{ is_active('leave.authorise_history') }} mr-1 mb-2" href="{{ url_for('leave.authorise_history') }}">Auth History</a>
  {% endif %}

  <a role="button" class="btn btn-primary mr-1 mb-2" href="{{ url_for('leave.manage') }}">Book Time Off</a>
           
</div>
