{% extends "layout.html" %}
{%- from "macros/utils.html" import legend_circle -%}

{% block content %}

{% include "calendar_navbar.html" %}

<div id="calendar-container">
    {% block calendar_content %}
    <div id="calendar"></div>
    <!-- Legend -->
    <div class="mt-2">
        <ul style="text-align: center; list-style: none;">
            {% for type in leave_types %}
            <span class="mr-2">
                <span class="icon">
                    {% if type == 'Pending' %}
                        {{ legend_circle(colour=pending_colour) }}
                    {% elif type == 'Public Holiday' %}
                        {{ legend_circle(colour=public_hol_colour) }}
                    {% else %}
                        {{ legend_circle(colour=type.hex_colour) }}
                    {% endif %}
                </span>
                <span class="text" style="vertical-align: middle;">{{ type }}</span>
            </span>
            {% endfor %}
        </ul>
    </div>
    {% endblock calendar_content %}
</div>

{% if request.endpoint not in ['leave.authorise', 'leave.authorise_history'] %}
{% include "entitlement_info.html" %}
{% endif %}

{% endblock content %}

{% block scripts %}
{% if request.endpoint != 'leave.history' %}
    <script src="{{ url_for('static', filename='js/vendor/fullcalendar/index.global.min.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script>
    authoriser = '{{ current_user.authoriser }}';
    daysLeft = '{{ current_user.entitlement_rem }}';// use for pie chart
    daysUsed = '{{ current_user.entitlement_used }}';// use for pie chart
</script>

<script>
    var trueOrFalse;
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            height: 'auto',
            editable: true,
            themeSystem: '{{ theme }}',
            headerToolbar: { 
                left: '{{ today_view }}',
                center: '{{ title_view }}',
                right: '{{ grid_view }}'
            },
            initialView: '{{ initial_view }}',
            duration: { days: `{{ duration_days }}` },
            weekends: {{ weekends }},
            dayMaxEventRows: true,
            views: {
              dayGridMonth: {
                dayMaxEventRows: 4 // adjust to 6 only for timeGridWeek/timeGridDay
              }
            },
            eventDidMount: function(info){
                $(info.el).popover({
                    trigger: 'click',
                    html: true,
                    title: info.event.title,
                    content: info.event.extendedProps.details
                });
                $('.popover.in').remove(); //<--- Remove the popover 
            },
            events: [
                {% for e in public_holidays %}
                {
                	id: '{{ e.id }}',
                	title: '{{ e.name }}',
            	    start: '{{ e.start_date }}',
            	    end: '{{ e.full_calendar_add_one_day() }}',
                    extendedProps:{
                        details: `
                        {{ e.start_date.strftime("%-d %b, %Y") }}
                        <div>
                            Public Holiday for {{ e.group.country }}
                        </div>`
                    },
                    backgroundColor: '{{ public_hol_colour }}',
                    allDay: true 
                },
                {% endfor %}
            {% if request.endpoint == 'leave.index' %}
              {% include "partials/personal_leaves.html" %}
            {% elif request.endpoint == 'leave.department' %}
              {% include "partials/department_leaves.html" %}
            {% elif request.endpoint == 'leave.departments' %}
              {% include "partials/all_departments_leaves.html" %}
            {% endif %}
            ],
            displayEventTime: false,
        });
        calendar.render();
        $('.fc-day-today').addClass('cell-background');
});
$(document).on('click', function (e) {
    $('[data-toggle="popover"],[data-original-title]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false  // fix for BS 3.3.6
        }

    });
});
</script>

{% if current_user.entitlement_rem == 0 and current_user.entitlement_used == 0 %}
{% else %}
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart-pie-demo.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock scripts %}
