{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}

{% set is_edit = leave.id is not none %}
{% set endpoint = 'leave.manage' %}
{% set heading = 'Edit Leave' if is_edit else 'Add Leave' %}
{% set form_kwargs = {'id': leave.id} if is_edit else {} %}

{% block title %}{{ heading }}{% endblock %}

{% block content %}

<legend>{{ heading }}</legend>

{% include "calendar_navbar.html" %}

<div class="row">
  <div class="col-md-5 well">
    <!-- Edit Request Form  -->
    {% call f.form_tag(endpoint, form=form, fid='submitRequestForm', **form_kwargs) %}

      {% call f.form_group(form.entt_ltype) %}
      {% endcall %}

      {% if form.half_day %}
          {% call f.form_group(form.half_day) %}
          {% endcall %}
      {% endif %}

      {% call f.form_group(form.start_date) %}
      {% endcall %}
      
      {% call f.form_group(form.end_date) %}
      {% endcall %}

      {% call f.form_group(form.details) %}
      {% endcall %}

      <div class="form-group">
          <span id="calculate-days-val"></span>
      </div>

      <div class="row">
          <div class="col">
              {% call f.form_group(form.submit, css_class="btn btn-primary form-control") %}
              {% endcall %}
          </div>
          <div class="col">
              <a href="{{ url_for('leave.history', page_param_first=current_user.id) if is_edit else url_for('leave.index') }}" role="button" class="btn btn-light btn-block">
                  Cancel
              </a>
          </div>
      </div><!-- End of btn row -->
   {% endcall %}
   </div><!-- End of col -->
</div><!-- End of row -->
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{#
<script>
    authoriser = '{{ current_user.authoriser }}';
    daysLeft = '{{ current_user.entitlement_rem }}';// use for pie chart
    daysUsed = '{{ current_user.entitlement_used }}';// use for pie chart
    const selectType = document.querySelector('#leave-type-select');
    const submitForm= document.querySelector('#submitRequestForm');
    const submitBtn = document.querySelector('#submitRequestBtn');
    const halfDay = document.getElementById("half_day");
    var leaveTypeId = selectType.value;

    function validateHalfDay() {
        endDate = document.getElementById("end_date");
        endDateParent = endDate.parentNode;
        if (document.getElementById('half_day').checked) {
            //console.log("checked");
            endDate.valueAsDate = null;
            endDateParent.style.display = 'none';
            $('#end_date').prop('disabled', true);
            //document.getElementById('calculate-days-val').innerHTML = '0.5 days';
            calculateDays();

        } else {
            $('#end_date').prop('disabled', false);
            endDateParent.style.display = 'block';
            document.getElementById('calculate-days-val').innerHTML = '';
        }
    }
    function calculateDays(){
        startDate = document.getElementById("start_date").value;
        endDate = document.getElementById("end_date").value;
        var endpoint = "{{ url_for('leave.calculate_days_async') }}";
        var ltype_endpoint = "{{ url_for('leave.get_ltype_deductable') }}";
        ltype_endpoint += '?&leave-type-id=' + leaveTypeId;
        if (halfDay) { // if half days are enabled
            if (halfDay.checked){
                disableSubmitBtn();
                document.getElementById('calculate-days-val').innerHTML = 'calculating days...';
                endpoint += '?&start_date=' + startDate; 
                endpoint += '&half_day=true';
                calculate_days_for_user(endpoint, ltype_endpoint);
            }
        }
        if (startDate && endDate){
            disableSubmitBtn();
            document.getElementById('calculate-days-val').innerHTML = 'calculating days...';
            endpoint += '?&start_date=' + startDate; 
            endpoint += '&end_date=' + endDate;
            calculate_days_for_user(endpoint, ltype_endpoint);
        } else {
            document.getElementById('calculate-days-val').innerHTML = '';
        }
    }
    // function calls are here because of a page refresh
    if (checkLeaveType()){
        calculateDays();
        if (halfDay) {
            validateHalfDay();
            document.getElementById('half_day').onchange = function(){
                validateHalfDay();
            };
        }
    }


    function checkLeaveType(){
        leaveTypeId = selectType.value;
        if(leaveTypeId === ''){
            document.getElementById('calculate-days-val').innerHTML = 'Please select an leave type';
            return false;
        } else {
            return true;
        }
    }
    function disableSubmitBtn(){
        // set Timeout used here for compatibility with Chrome + Safari
        setTimeout(function() {
            submitBtn.disabled = true;
        }, 0);
    }
    function enableSubmitBtn(){
        // set Timeout used here for compatibility with Chrome + Safari
        setTimeout(function() {
            submitBtn.disabled = false;
        }, 0);
    }
    
    submitForm.addEventListener('submit', function(leave) {
        // set Timeout used here for compatibility with Chrome + Safari
        setTimeout(function() {
            submitBtn.disabled = true;
        }, 0);
          // Custom logic
    });

    document.getElementById('start_date').onchange = function(){
        if (checkLeaveType()){
            calculateDays();
        }
    };
    document.getElementById('end_date').onchange = function(){
        if (checkLeaveType()){
            calculateDays();
        }
    };
    selectType.onchange = function(){
        leaveTypeId = this.value;
        if (checkLeaveType()){
            calculateDays();
        }
    };
</script>
#}
{% endblock scripts %}
