{% extends "calendar_base.html" %}
{%- import "macros/pagination.html" as items -%}
{% import 'macros/form.html' as forms with context %}

{% block title %}Leave History{% endblock title %}

{% set delete_endpoint = 'leave.delete' %}

{% block calendar_content %}
<input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
<div class="table-wrapper">
    <table class="table">
        <thead class="thead">
            <tr>
                <th scope="col">
                    {{ items.sort('ltype', 'Type') }}
                </th>
                <th scope="col">
                    {{ items.sort('start_date', 'Start Date') }}
                </th>
                <th scope="col">
                    {{ items.sort('end_date', 'End Date') }}
                </th>
                <th scope="col">
                    {{ items.sort('duration', 'Total Duration') }}
                </th>
                <th scope="col">
                    {{ items.sort('status', 'Status') }}
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
        {% for leave in leaves.items %}
        <tr>
            <td>
                {{ leave.ltype }}
            </td>
            <td>
                {{ leave.start_date.strftime("%-d %b %Y") }}
            </td>
            <td>
                {{ leave.end_date.strftime("%-d %b %Y") }}
            </td>
            <td>
                {{ leave.num_days }} Days{% if leave.time_unit == 'hours' %} ({{ leave.convert_to_int(leave.duration) }} hours){% endif %}
            </td>
            <td>
                {{ leave.status }}
            </td>
            <td>
                {% if leave.status == 'Pending' %}
                    <a role="button" class="btn btn-sm btn-primary" href="{{ url_for('leave.manage', id=leave.id) }}">Edit</a>
                    {{ forms.action_confirm(
                        id="delete" ~ leave.id,
                        url=url_for('leave.delete', id=leave.id),
                        title="Delete", 
                        btn="btn btn-sm btn-warning",
                        icon_only=False,
                        target="#confirmModal") 
                    }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div><!-- End of table wrapper -->
{{ items.paginate(leaves) }}

{% include "partials/confirm_dialog.html" %}
{% endblock calendar_content %}
