{% extends "layout.html" %}
{%- from "macros/navigation.html" import navlink with context -%}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/pagination.html' as items %}

{% block title %}L-Days - Admin{% endblock %}

{% block content %}
{% set active = 'admin.events' %}
{% set extra_setting_links = admin_event_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}


{% if events.total == 0 %}
{% else %}

<table class="table table-striped">
    <thead>
        <tr>
          <th>
            <label for="select_all"></label>
            <input id="select_all" name="select_all" type="checkbox">
          </th>
          <th class="col-header">
              User 
          </th>
          <th class="col-header">
              Type
          </th>
          <th class="col-header">
              Requested Dates 
          </th>
          <th class="col-header">
             Status 
          </th>
          <th class="col-header">
              Current Authoriser
          </th>
          <th class="col-header">
              Last Actioned By
          </th>
        </tr>
    </thead>
    <tbody>
    {% for event in events.items %}
      <tr>
        <td>
          <label for="bulk_ids"></label>
          <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                 type="checkbox" value="{{ event.id }}">
        </td>
        <td>
            {{ event.user }}
        </td>
        <td>
            {{ event.etype.name }}
        </td>
        <td>
            {{ event.start_date.strftime("%-d %b, %Y") }}{% if event.half_day %} (Half Day){% else %} - {{ event.end_date.strftime("%-d %b, %Y") }}{% endif %}
        </td>
        <td>
            <a href="{{ url_for('admin.event_status_edit', id=event.id) }}">
            {{ event.status }}
            </a>
            {% if event.status_details %}
                <small>
                [<a href="#" class="link-primary" data-toggle="modal" data-target="#statusDetails-{{event.id}}">see reason</a>]
                </small>
            {% endif %}
        </td>
        <td>
            {{ event.user.authoriser }}
        </td>
        <td>
            {{ event.actioned_by }}
        </td>
      </tr>
        <!-- Status Details Modal -->
        <div class="modal fade" id="statusDetails-{{event.id}}" tabindex="-1" aria-labelledby="statusDetailsLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="statusDetailsLabel">{{ event.status }} Details</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					</button>
              </div>
              <div class="modal-body">
              <p>
                {{ event.status_details }}
              </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </tbody>
</table>
{{ items.paginate(events) }}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
{% endblock %}
