{% extends "layout.html" %}
{% block title %}Admin - Event Type{% endblock %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% set active = 'admin.events' %}
{% set extra_setting_links = admin_event_sidebar(user=current_user) %}

{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.event_type_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new event type' %}
  {% set button = 'Add' %}
{% else %}
  {% set endpoint = 'admin.event_type_edit' %}
  {% set form_kwargs = {'id': event_type.id} %}
  {% set legend = 'Update this event type' %}
  {% set button = 'Save' %}
{% endif %}

{% block content %}

{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

{% if request.endpoint.endswith('new') %}
<div class="row">
  <div class="col-md-5 well">
  {% call f.form_tag(endpoint, form=form, **form_kwargs) %}
    <legend>{{ legend }}</legend>
    {% call f.form_group(form.name, css_class='sm-margin-bottom',
                          autofocus='autofocus') %}
    {% endcall %}

    {% call f.colour_field(form.hex_colour, css_class='sm-margin-bottom') %}
    {% endcall %}

    {% call f.form_group(form.deductable, css_class='sm-margin-bottom') %}
    {% endcall %}

    {% call f.form_group(form.approval, css_class='sm-margin-bottom') %}
    {% endcall %}

    {% call f.form_group(form.active, css_class='sm-margin-bottom') %}
    {% endcall %}

    {% call f.form_group(form.max_days, css_class='sm-margin-bottom') %}
    {% endcall %}
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-block">
          {{ button }}
        </button>
      </div>
      <div class="col-md-6">
        <div class="visible-xs visible-sm sm-margin-top"></div>
        <a href="{{ url_for('admin.events') }}"
            class="btn btn-light bg-opacity-10 btn-block">
          Cancel
        </a>
      </div>
    </div>
  {% endcall %}
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-md-5 well">
    {% call f.form_tag(endpoint, form=form, **form_kwargs) %}
      <legend>{{ legend }}</legend>

      {% call f.form_group(form.name, css_class='sm-margin-bottom',
                            autofocus='autofocus') %}
      {% endcall %}

      {% call f.colour_field(form.hex_colour, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.deductable, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.approval, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.active, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.max_days, css_class='sm-margin-bottom') %}
      {% endcall %}
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block">
            {{ button }}
          </button>
        </div>
        <div class="col-md-6">
          <div class="visible-xs visible-sm sm-margin-top"></div>
          <a href="{{ url_for('admin.events') }}"
              class="btn btn-light bg-opacity-10 btn-block">
            Cancel
          </a>
        </div>
      </div>
    {% endcall %}
  </div>
</div>
{% endif %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
{% endblock %}
{% endblock %}
