    {% set slots = [] %}
          {% for e in leaves if e not in slots %}
              {{ slots.append(e) or "" }}
              /* above forloops and slotsappend prevent repeat leaves if member is a member of multiple departments */
              {% set leave_id = e.id | string %}

              {
                  id: '{{ e.id }}',
                  title : '{{ e.user }}',
                  start : '{{ e.start_date}}',
                  end : '{{ e.full_calendar_add_one_day() }}',
                  extendedProps:{
                      details: 
                      `
                        <div>{{ e.start_date.strftime("%-d %b, %Y") }} - {{ e.end_date.strftime("%-d %b, %Y") }}</div>
                        <div>Days: {{ e.num_days }}</div>
                        <div>Type: {{ e.ltype.name }} ({{ e.status }})</div>
                        {% if current_user.id == e.user_id %}
                            {% if e.details %}
                            <div>Details: {{ e.details }}</div>
                            {% endif %}
                        {% endif %}
                      `, 
                  },
                  backgroundColor : '{{ e.hex_colour }}',
                  editable : false,
                  {% if e.half_day == True %}
                      allDay: false 
                  {% else %}
                      allDay: true 
                  {% endif %}
              },
          {% endfor %}
