{% extends "layout.html" %}
{% import 'macros/form.html' as forms with context %}
{%- from "macros/navigation.html" import navlink with context -%}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/pagination.html' as items %}
{% set table_name = 'leave_type' %}

{% block title %}Leave Types - Admin{% endblock %}

{% block content %}
{% set extra_setting_links = admin_leave_type_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

{% include "actions_btn.html" %}

<input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
<table class="table table-striped">
    <thead>
        <tr>
          <th>
            <label for="select_all"></label>
            <input id="select_all" name="select_all" type="checkbox">
          </th>
          <th class="col-header">
              {{ items.sort('name', 'Leave Type') }}
          </th>
          <th class="col-header">
              {{ items.sort('active') }}
          </th>
          <th class="col-header">
              {{ items.sort('deductable') }}
          </th>
          <th class="col-header">
              {{ items.sort('approval', 'Approval required') }}
          </th>
          <th class="col-header">
              {{ items.sort('colour') }}
          </th>
        </tr>
    </thead>
    <tbody>
    {% for ltype in leave_types.items %}
      <tr>
        <td>
          <label for="bulk_ids"></label>
          <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                 type="checkbox" value="{{ ltype.id }}">
        </td>
        <td>
            <a href="{{ url_for('admin.leave_type_info', id=ltype.id) }}">
            {{ ltype.name }}
            </a>
        </td>
        <td>
            {{ ltype.render(ltype.active) }}
        </td>
        <td>
            {{ ltype.render(ltype.deductable) }}
        </td>
        <td>
            {{ ltype.render(ltype.approval) }}
        </td>
        <td>
            {{ ltype.hex_colour }}
            <div style="height: 24px; width: 24px; background-color: {{ ltype.hex_colour }}"></div>
        </td>
        <td>
            {% if current_user.permission('admin.leave_type', crud='update') %}
                <a class="btn btn-sm btn-primary" 
                   href="{{ url_for('admin.leave_type_edit', id=ltype.id) }}" type="button">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            {% endif %}
            {% if current_user.permission('admin.leave_type', crud='delete') %}
                {{ forms.action_confirm(
                    id="delete-" ~ ltype.id, 
                    url=url_for('admin.leave_type_delete', id=ltype.id),
                    title="Delete", 
                    btn="btn btn-sm btn-warning",
                    target="#confirmModal",
                    icon="bi bi-trash") 
                }}
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{{ items.paginate(leave_types) }}

{{ forms.modal_bulk_action(
    id="bulkDelete",
    label="bulkDeleteLabel",
    title="Delete",
    text="Are you sure you want to delete the selected types?",
    url=url_for('admin.bulk_delete', table='leave_type'),
    btn_text="Delete")
}}
{{ forms.modal_bulk_action(
    id="bulkDisable",
    label="bulkDisableLabel",
    title="Disable",
    text="Are you sure you want to disable the selected types?",
    url=url_for('admin.bulk_disable', table='leave_type'),
    btn_text="Disable")
}}
{{ forms.modal_bulk_action(
    id="bulkEnable",
    label="bulkEnableLabel",
    title="Enable",
    text="Are you sure you want to enable the selected types?",
    url=url_for('admin.bulk_enable', table='leave_type'),
    btn_text="Enable")
}}
{% include "partials/confirm_dialog.html" %}

{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock scripts %}
