{% macro profile_table(query, class, endpoint) %}
    <!-- If posts - create table -->
    {% if query %}
    <div class="table-wrapper">
        <table class="table-hover" style="width:100%">
        {% for obj in query %}
            {% if obj.__table__.name == 'post' %}
                {% set url = url_for(endpoint, id=obj.id) %}
                {% set instance = obj %}
            {% elif obj.__table__.name == 'comment' %}
                {% set url = url_for(endpoint, id=obj.id) %}
                {% set instance = obj.parent %}
            {% endif %}
            <tr data-href="{{ url }}">
                <td width="75%">
                    <div class="profile-questions">
                        <a style="text-decoration:none" href="{{url}}">{{ instance | safe | truncate(90) }}</a>
                    </div>
                </td>
                <td width="25%" style="text-align:right">
                    {{ obj.pretty_date(obj.created_at) }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% else %}
    <!-- If NO posts -->
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info" role="alert">
                        No {{ class }}s yet
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
