{% extends "layout.html" %}
{% import 'macros/form.html' as forms with context %}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/pagination.html' as items %}

{% set extra_setting_links = admin_country_sidebar(user=current_user) %}
{% set active = 'admin.countries' %}
{% set legend = country.name %}
{% set import_endpoint = 'admin.import_csv' %}
{% set table_name = 'public_holiday' %}

{% block content %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

      <!-- Title & Controls Div -->
      <div class="row justify-content-between align-items-center mb-3">
          <div class="col-auto">
            <div class="h2">{{ legend }} ({{ country.code }})</div>
          </div>
          <div class="col-auto">
            <div class="btn-toolbar"> 
            {% if current_user.permission('admin.country', crud='update') %}
                <div class="btn-group mr-2">
	              <a href="{{ url_for('admin.countries_edit', id=country.id) }}" 
                     class="btn btn-sm btn-primary" 
                     type="button">Edit
                  </a>
                </div>
            {% endif %}
            {% if current_user.permission('admin.country', crud='delete') %}
                <div class="btn-group mr-2">
                    {{ forms.action_confirm(
                        id="delete-" ~ country.id, 
                        url=url_for('admin.countries_delete', id=country.id),
                        title="Delete", 
                        btn="btn btn-sm btn-warning",
                        icon_only=False,
                        target="#confirmModal") 
                    }}
                </div>
            {% endif %}
            </div><!-- end of toolbar -->
          </div><!-- end of toolbar column -->
      </div> <!-- End of Title & Controls Div -->
      <div class="form-group">
	      <div class="mb-2">
	      	<div><strong>Default Annual Allowance</strong></div>
	      	<div>{{ country.default_annual_allowance }}</div>
	      </div>
	      <div class="mb-2">
	      	<div><strong>Default Carry Over Days</strong></div>
	      	<div>{{ country.default_carry_over_days }}</div>
	      </div>
      </div>

{% if current_user.permission('admin.public_holiday', crud='read') %}

    {% if current_user.permission('admin.public_holiday', crud='create') %}
        <a href="{{ url_for('admin.public_holiday_new', id=country.id) }}" class="btn btn-sm btn-primary" type="button">Add Holiday</a>
    {% endif %}
    
    {% include "actions_btn.html" %}
    
    {% if years %}
        {{ form.year }}
    {% endif %}
    
    {#
    {% if years %}
    <select id='year_filter' class="form-select" aria-label="Select year">
        {% for year in years %}
        <option>{{ year }}</option>
        {% endfor %}
    </select>
    {% endif %}
    #}
    
    
    {% if paginated_holidays %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <label for="select_all"></label>
              <input id="select_all" name="select_all" type="checkbox">
            </th>
            <th class="col-header">
              {{ items.sort('name') }}
            </th>
            <th class="col-header">
              {{ items.sort('start_date', 'Start Date') }}
            </th>
            <th class="col-header">
              {{ items.sort('active') }}
            </th>
            <th class="col-header">
                {{ items.sort('created_at', 'Created') }}
            </th>
            <!-- for buttons -->
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for holiday in paginated_holidays.items %}
          <tr>
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                     type="checkbox" value="{{ holiday.id }}">
            </td>
            <td>
                {{ holiday.name }}
            </td>
            <td>
                {{ holiday.start_date.strftime("%-d %b %Y") }}
            </td>
            <td>
                {{ holiday.render(holiday.active) }}
            </td>
            <td>
                {{ holiday.created_at }}
            </td>
            <td>
                {% if current_user.permission('admin.public_holiday', crud='update') %}
                    <a class="btn btn-sm btn-primary" 
                       href="{{ url_for('admin.public_holiday_edit', country_id=country.id, id=holiday.id) }}" type="button">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                {% endif %}
                {% if current_user.permission('admin.public_holiday', crud='delete') %}
                    {{ forms.action_confirm(
                        id="delete-" ~ holiday.id, 
                        url=url_for('admin.public_holiday_delete', cid=country.id, id=holiday.id), 
                        title="Delete", 
                        btn="btn btn-sm btn-warning",
                        icon="bi bi-trash",
                        target="#confirmModal") 
                    }}
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {{ items.paginate(paginated_holidays, kwargs={'id':country.id, 'year':2023 }) }}
      <div class="modal fade" id="bulkDelete" tabindex="-1" aria-labelledby="bulkDeleteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bulkDeleteLabel">Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span style="color: #fff;" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <p>
            Selected holidays will be removed.
            </p>
            <p>
            <strong>Important: This cannot be undone.</strong>
            </p>
            <p>
            Are you sure you want to delete the selected holidays?
            </p>
            <form class="bulkforms" action="{{ url_for('admin.holidays_bulk_delete', id=country.id) }}" method="POST">
              <button class="btn btn-primary" type="submit">Delete</button>
              <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

{% endif %}<!-- End of Public Holiday read permission -->

{% include "partials/confirm_dialog.html" %}
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
<script src="{{ url_for('static', filename='js/importCSV.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
<script>
    var year_filter = document.getElementById('year_filter');
    {% if dropdown_year %}
        year_filter.value = '{{ dropdown_year }}';
    {% endif %}
    year_filter.addEventListener('change', evt => {
        const value = evt.target.value;
        console.log(value);
        //console.log(value);
        var url ='{{ url_for(request.endpoint,q=q,year='',id=country.id) | safe }}'
        url += value;
        location = url;
      });
</script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock %}
