{% extends "layout.html" %}
{% import 'macros/form.html' as forms with context %}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/pagination.html' as items %}

{% set extra_setting_links = admin_country_sidebar(user=current_user) %}
{% set active = 'admin.countries' %}
{% set legend = country.name %}
{% set import_endpoint = 'admin.import_csv' %}
{% set table_name = 'public_holiday' %}

{% block content %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

      <!-- Title & Controls Div -->
      <div class="row justify-content-between align-items-center mb-3">
          <div class="col-auto">
            <div class="h2">{{ legend }} ({{ country.code }})</div>
          </div>
          <div class="col-auto">
            <div class="btn-toolbar"> 
            {% if current_user.permission('admin.country', crud='update') %}
                <div class="btn-group mr-2">
	              <a href="{{ url_for('admin.countries_edit', id=country.id) }}" 
                     class="btn btn-sm btn-primary" 
                     type="button">Edit
                  </a>
                </div>
            {% endif %}
            {% if current_user.permission('admin.country', crud='delete') %}
                <div class="btn-group mr-2">
                    {{ forms.action_confirm(
                        id="delete-" ~ country.id, 
                        url=url_for('admin.countries_delete', id=country.id),
                        title="Delete", 
                        btn="btn btn-sm btn-warning",
                        icon_only=False,
                        target="#confirmModal") 
                    }}
                </div>
            {% endif %}
            </div><!-- end of toolbar -->
          </div><!-- end of toolbar column -->
      </div> <!-- End of Title & Controls Div -->


{% include "partials/confirm_dialog.html" %}
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
<script src="{{ url_for('static', filename='js/importCSV.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock scripts %}
