<div class="dropdown">
  <button class="btn btn-sm shadow-none w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
      aria-haspopup="true" aria-expanded="false" title="More Options">
      <i class="bi bi-three-dots"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% if (post.user == current_user and current_user.role.can_edit_posts) or current_user.permission('admin.post', crud='update') %}
      <a class="dropdown-item" href="{{ url_for('posts.post_edit', id=post.id) }}">Edit</a>
      {% endif %}
      {% if (post.user == current_user and current_user.role.can_delete_posts) or current_user.permission('admin.post', crud='delete') %}
      <button class="dropdown-item" type="button" data-toggle="modal" 
          data-target="#deletePostModal-{{ post.id }}">Delete
      </button>
      {% endif %}
      {% if current_user.permission('admin.post', crud='update') %}
        {% if post.is_pin %}
            <a class="dropdown-item" href="{{ url_for('posts.unpin_post', id=post.id) }}">Unpin</a>
        {% else %}
            <a class="dropdown-item" href="{{ url_for('posts.pin_post', id=post.id) }}">Pin</a>
        {% endif %}
      {% endif %}
  </div>
</div>
<!-- Modal Delete Post -->
<div class="modal fade" id="deletePostModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deletePostLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title" id="deletePostLabel">Delete Post</h5>
							    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								    <span aria-hidden="true">&times;</span>
							    </button>
						</div>
						<div class="modal-body">
						Are you sure you want to delete this post? This cannot be undone.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<form action="{{ url_for('posts.post_delete', id=post.id) }}" method="POST">
									<input class="btn btn-danger" type="submit" value="Delete">
							</form>
						</div>
				</div>
	 	</div>
</div>
