{% extends "layout.html" %}
{% import 'macros/form.html' as forms with context %}
{%- from "macros/user.html" import avatar_img -%}
{%- from "macros/utils.html" import pin_icon -%}
{%- import "macros/pagination.html" as items -%}

{% set heading = 'Posts' %}
{% set profile_endpoint = 'user.profile' %}

{% block title %}{{ heading }}{% endblock title %}



{% block content %}
<legend>{{ heading }}</legend>
<a class="btn btn-primary" href="{{ url_for('posts.post_new') }}">Create Post</a>


{{ forms.search('posts.index') }}
<input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">

{% if request.args.get('q') %}
    {% if posts.items | count == 0 %}
        <h3>No results found.</h3>
    {% endif %}
{% endif %}

{% if posts.items %}

<ul class="mb-1 mt-4 nav align-items-center">
    <li class="nav-item ml-auto">
        <h6>{{ items.sort('created_at', 'Sort by date') }}</h6>
    </li>
</ul>

<!-- Get all Posts -->
{% for post in posts.items %}
<div class="mb-4">
    {% if post.is_pin %}
    <div class="row content-section">
            <span>{{ pin_icon(size='20') }}</span><span class="ml-1">Pinned</span>
    </div>
    {% endif %}
    <div class="row content-section">
        <div class="col-sm-auto img-col">
            <a href="{{ url_for(profile_endpoint, id=post.user.id) }}">
                {{ avatar_img(post.user, size='48', id='profileImg') }}
            </a>
        </div>
        <div class="col">
            <span style="font-size: 1em">
                <a class="mr-1" href="{{ url_for(profile_endpoint, id=post.user.id) }}">{{ post.user.username }}</a>
                <span class="text-muted" title="{{ post.created_at.strftime("%-d %b %Y %H:%M") }}">{{ post.pretty_date(post.created_at) }}</span>
            </span>
    		<h4><a class="article-title btn-link" href="{{ url_for('posts.post', id=post.id) }}">{{ post.name }}</a></h4>
    		{% if post.comments.count() >= 1 %}
            <small class="text-muted">Comments </small><span class="badge badge-pill badge-secondary">{{ post.comments.count() }}</span>
            {% endif %}
        </div>
        <!-- Check post permissions -->
        <!-- If user has no post permissions and is not the post author avoid displaying empty dropdown -->
        {% if post.locked %}
            <div>
                <i class="bi bi-lock-fill" title="Locked"></i>
            </div>
        {% else %}
            {% if current_user.post_actions_access(post) %}
                <div>
                {% include "post_actions.html" %}
                </div>
            {% endif %}
        {% endif %}
    </div><!-- End of Row -->
</div>
{% endfor %}
{{ items.paginate(posts) }}
{% endif %}

{% endblock %}
