{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}

{% import 'macros/pagination.html' as items %}
{%- from "macros/user.html" import avatar_img -%}

{% set endpoint = 'posts.post' %}
{% set args = {'id': post.id} %}
{% set profile_endpoint = 'user.profile' %}
{% set legend = 'Add a comment' %}
{% set button = 'Submit' %}

{% block head %}
<script src="{{ url_for('static', filename='js/vendor/ckeditor/ckeditor.js') }}"></script>
<script async charset="utf-8" src="https://cdn.embedly.com/widgets/platform.js"></script>
<style>
.ck-editor__editable {
    min-height: 130px;
    max-height: 150px;
}
</style>
{% endblock head %}

{% block content %}
    <article class="media content-section">
        <a href="{{ url_for(profile_endpoint, id=post.user_id) }}">
            {{ avatar_img(post.user, size='48', id='profileImg') }}
        </a>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-1" href="{{ url_for(profile_endpoint, id=post.user_id) }}">{{ post.user.username }}</a>
                <small class="text-muted"><span title="{{ post.created_at.strftime("%-d %b %Y %H:%M") }}">{{ post.pretty_date(post.created_at) }}</span></small>
                {% if post.updated_at %}
                <small class="text-muted ml-1">(Last Modified: {{ post.updated_at.strftime("%-d %b %Y %H:%M") }})</small>
                {% endif %}
    		<h3>{{ post.name }}</h3>
            <div>{{ post.content | safe }}</div>
            </div>
        </div>
        {% if post.locked %}
            <div>
                <i class="bi bi-lock-fill" title="Locked"></i>
            </div>
        {% else %}
            {% if current_user.role.superuser == True or post.user == current_user %}
                <div>
                    {% include "post_actions.html" %}
                </div>
            {% endif %}
        {% endif %}
    </article>
{% if comments.items %}
<div class="mt-4"><!-- COMMENT SECTION DIV -->
<ul class="mb-1 nav align-items-center">
    <li class="nav-item">
        {% if post.comments.count() > 1 %}
            <h6>{{ post.comments.count() }} Comments</h6>
        {% else %}
            <h6>Comments</h6>
        {% endif %}
    </li>
    <li class="nav-item ml-auto">
        <h6>{{ items.sort('created_at', 'Sort by date') }}</h6>
    </li>
</ul>
<!-- Comments -->
{% for c in comments.items %}
<div id="#cid{{ c.id}}" class="comment mb-4">
    <article class="media content-section">
            <a href="{{ url_for(profile_endpoint, id=c.user.id) }}">
                {{ avatar_img(c.user, size='48', id='profileImg') }}
            </a>
            <div class="media-body">
				<div class="article-metadata">
					<a class="mr-1" href="{{ url_for(profile_endpoint, id=c.user.id) }}">{{ c.user.username }}</a>
                    <small class="text-muted"><span title="{{ c.created_at.strftime("%-d %b %Y %H:%M") }}">{{ c.pretty_date(c.created_at) }}</span></small>
                    {% if c.updated_at %}
                        <small class="text-muted ml-1">(Last Modified: {{ c.updated_at.strftime("%-d %b %Y %H:%M") }})</small>
                    {% endif %}
                    <div>{{ c.text | safe }}</div>
				</div>
            </div>
            <!-- If user has no comment permissions and is not the comment author, avoid displaying empty dropdown -->
            {# TODO {% if current_user.comment_permissions() or c.user == current_user %}
            {% endif %} #}
            {% if current_user.comment_actions_access(c) %}
            <div>
                {% include "comment_actions.html" %}
            </div>
	    {% endif %}
    </article>
</div>
{% endfor %}
{{ items.paginate(comments, args) }}
</div><!-- END OF COMMENT SECTION DIV -->
{% endif %}<!-- endif comments -->

{% if not post.locked %}
    <!-- Comment Form -->
    <div class="mt-4">
    {% call f.form_tag(endpoint, form=form, fid='editor-form', **args) %}

      {% call f.form_group(form.text, css_class='sm-margin-bottom') %}
      {% endcall %}
    <!-- Submit buttons -->
    <div class="row">
      <div class="col-md-6">
          <button onclick="getMentions()" type="button" class="btn btn-primary mr-3">{{ button }}</button>
      </div>
    </div>
    {% endcall %}<!-- End of Comment Form -->
    </div>
{% endif %}<!-- End of lock check -->

{% endblock content %}

{% block scripts %}
<script>
//https://stackoverflow.com/questions/31863582/automatically-scroll-to-a-div-when-flask-returns-rendered-template
//https://stackoverflow.com/questions/24665602/scrollintoview-scrolls-just-too-far
// also see style.css for smooth scrolling
$(document).ready(function() {
    if (location.hash){
        document.getElementById(location.hash).scrollIntoView({top: -600});
        document.getElementById(location.hash).getElementsByTagName('article')[0].classList.add('highlighted-comment');
    }
});
</script>
<script src="{{ url_for('static', filename='js/embed.js') }}"></script>
<script>var endpoint = "{{ url_for('user.mentions') }}"</script>
<script src="{{ url_for('static', filename='js/textEditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
{% endblock %}
