{% import 'macros/form.html' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.users_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new user' %}
  {% set button = 'Add' %}
{% else %}
  {% set endpoint = 'admin.users_edit' %}
  {% set form_kwargs = {'id': user.id} %}
  {% set legend = 'Update ' +  user|string %}
  {% set button = 'Save' %}
{% endif %}

<div class="row">
{% if request.endpoint.endswith('new') %}
  <div class="col-lg">
  <legend>{{ legend }}</legend>
  {% call f.form_tag(endpoint, form=form, **form_kwargs) %}
  {% call f.form_group(form.email, css_class='sm-margin-bottom',
                        autofocus='autofocus') %}
  {% endcall %}

  {% call f.form_group(form.username, css_class='sm-margin-bottom',
                        autofocus='autofocus') %}
  {% endcall %}

  {% call f.form_group(form.role, css_class='sm-margin-bottom') %}
  {% endcall %}

  {% call f.form_group(form.department, css_class='sm-margin-bottom') %}
  {% endcall %}

  {% call f.form_group(form.entt, css_class='sm-margin-bottom') %}
  {% endcall %}

  {% call f.form_group(form.authoriser, css_class='sm-margin-bottom') %}
  {% endcall %}

  {% call f.form_group(form.job_title, css_class='sm-margin-bottom') %}
  {% endcall %}

  {% call f.form_group(form.site, css_class='sm-margin-bottom') %}
  {% endcall %}

  {% call f.form_group(form.active) %}
  {% endcall %}
  
  {% call f.form_group(form.send_activation_account_email) %}
  {% endcall %}
  <div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-block">
          {{ button }}
        </button>
    </div>
    <div class="col-md-6">
      <div class="visible-xs visible-sm sm-margin-top"></div>
      <a href="{{ url_for('admin.users') }}"
          class="btn btn-light bg-opacity-10 btn-block">
        Cancel
      </a>
    </div>
  </div>
  {% endcall %}
  </div>
</div>
{% else %}

  <div class="col-lg">
    <legend>{{ legend }}</legend>
    <div role="tabpanel" class="tab-pane config-section" id="tab-panel">
    	<ul class="nav nav-tabs mb-3" role="tablist">
    		<li class="nav-item">
    			<a class="nav-link active" href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#leave" aria-controls="leave" role="tab" data-toggle="tab">Leave</a>
    		</li>
    	</ul>

    	<div class="tab-content">
    		<div role="tabpanel" class="tab-pane active" id="general">
    			<div class="form-group">
    		    {% call f.form_tag(endpoint, form=form, **form_kwargs) %}
                    {% call f.form_group(form.email, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.username, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.first_name, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.middle_name, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.last_name, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.dn, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.dob, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.contact_number, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.role, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.active) %}
                    {% endcall %}

			<a href="{{ url_for('admin.password_reset', id=user.id) }}" role="button" type="button">Reset Password</a>
                	</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="employment">
    			<div class="form-group">
                    {% call f.form_group(form.start_date, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.department, css_class='sm-margin-bottom') %}
                    {% endcall %}
                    
                    {% call f.form_group(form.job_title, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.site, css_class='sm-margin-bottom') %}
                    {% endcall %}
                </div>
            </div>
    		<div role="tabpanel" class="tab-pane" id="leave">
    			<div class="form-group">
                    <!-- Leave -->
                    {% call f.form_group(form.entt, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.authoriser, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.leave_year_start, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.days_left, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.used_days, css_class='sm-margin-bottom') %}
                    {% endcall %}

                    {% call f.form_group(form.previous_carryover_days, css_class='sm-margin-bottom') %}
                    {% endcall %}
    			</div>
            	</div>
      		<hr/>
        </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <button type="submit" class="btn btn-primary btn-block">
          {{ button }}
        </button>
      </div>
      <div class="col">
        <div class="visible-xs visible-sm sm-margin-top"></div>
        <a id="info-url" href="{{ url_for('admin.users_info', id=user.id) }}"
            class="btn btn-light bg-opacity-10 btn-block">
          Cancel
        </a>
      </div>
    </div>
    {% endcall %}<!-- End of form -->
  </div>
  <!-- Login Activity Column -->
    {% include "user/login_activity.html" %}
</div>
{% endif %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
{% endblock %}
