{% extends "layout.html" %}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/pagination.html' as items %}

{% block title %}{{ user }} - Change History{% endblock title %}
{% set active = 'admin.users' %}

{% block content %}

{% set extra_setting_links = admin_user_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

<legend>Change History for User <a href="{{ url_for('admin.users_info', id=user.id) }}">{{ user }}</a></legend>
<div>Total: {{ count }}</div>
{% for version in versions.items %}
    <div class="card mt-4 mb-4">
        <div class="card-header">
            <span class="h6 mr-2">#{{ version.transaction.id }}</span><!-- Transaction id -->
            <span class="h6 me-2">{{ version.transaction.issued_at.strftime("%-d %b %Y") }}</span>
            <span class="ml-2 text-muted">{{ version.transaction.issued_at.strftime("%H:%M:%S %z") }}</span>
        </div>
        <div class="card-body">
            {% for key, values in version.changeset.items() %}
                {% if key in ["login_time", "created_at", "updated_at"] %}
                    {% if values[0] %}
                        {% set before_value = values[0].strftime("%-d %b %Y %H:%M:%S") %}
                    {% else %}
                        {% set before_value = values[0] %}
                    {% endif %}
                    {% if values[1] %}
                        {% set post_value = values[1].strftime("%-d %b %Y %H:%M:%S") %}
                    {% else %}
                        {% set post_value = values[1] %}
                    {% endif %}
                    <div>{{ key }}: <span class="text-danger fw-bold">{{ before_value }}</span> > <span class="text-success fw-bold">{{ post_value }}</span></div>
                {% else %}
                    {% if key not in ["last_notification_read_time", "password"] %}
                    <div>{{ key }}: <span class="text-danger fw-bold">{{ values[0] }}</span> > <span class="text-success fw-bold">{{ values[1] }}</span></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% if count > 0 %}
{{  items.paginate(versions, kwargs={'id': user.id}) }}
{% endif %}

{% endblock content %}
