{% extends "layout.html" %}
{% block title %}Admin - User Update{% endblock %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% set active = 'admin.users' %}

{% block content %}
    {% set extra_setting_links = admin_user_sidebar(user=current_user) %}
    {% include "menu.html" %}
    {{ sidebaritems(extra_setting_links) }}
    {% include "user/_form.html" with context %}
{% endblock %}

{% block scripts %}
    <script>
    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    var infoURL = document.getElementById('info-url');
    infoURL.href = '{{ url }}' + hash;
    $('#tab-panel a[href="' + hash + '"]').tab('show');
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
        infoURL.href = '{{ url }}' + '#' + id;
    });
    </script>
{% endblock scripts %}
