{% extends "layout.html" %}
{%- from "macros/navigation.html" import navlink with context -%}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}
{% import 'macros/pagination.html' as items %}
{% import 'macros/user.html' as account %}
{% set import_endpoint = 'admin.import_csv' %}
{% set table_name = 'user' %}

{% block title %}Users - Dashboard{% endblock %}

{% block content %}
{% set extra_setting_links = admin_user_sidebar(user=current_user) %}

{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

<!-- index -->

{{ forms.search('admin.users') }}
{% if users.total == 0 %}
    {% if request.args.get('q') %}
        <h3>No results found.</h3>
    {% endif %}
{% else %}

  {% include "actions_btn.html" %}
  <input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <label for="select_all"></label>
          <input id="select_all" name="select_all" type="checkbox">
        </th>
        <th class="col-header">
          {{ items.sort('full_name', 'Name') }}
        </th>
        <th class="col-header">
          {{ items.sort('username') }}
        </th>
        <th class="col-header">
          {{ items.sort('email') }}
        </th>
        <th class="col-header">
          {{ items.sort('active') }}
        </th>
        <th class="col-header">
          {{ items.sort('role') }}
        </th>
        <!-- superuser -->
        <th class="col-header">
        </th>
        <th class="col-header">
          {{ items.sort('last_login_time', 'Last login') }}
        </th>
        <th class="col-header">
          {{ items.sort('created_at', 'Created') }}
        </th>
        <th class="col-header">
          {{ items.sort('updated_at', 'Last Updated') }}
        </th>
        <th>
        <!-- for edit and delete buttons -->
        </th>
      </tr>
    </thead>
    <tbody>
    {% for user in users.items %}
    <tr data-href="{{ url_for('admin.users_info', id=user.id) }}">
        <td>
          <label for="bulk_ids"></label>
          <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                 type="checkbox" value="{{ user.id }}">
        </td>
        <td>
            {{ user.full_name }}
        </td>
        <td>
            {{ user.username }}
        </td>
        <td>
            {% if user.email %}
            {{ user.email }}
            {% endif %}
        </td>
        <td>
            {{ user.render(user.active) }}
        </td>
        <td>
            {{ user.role }}
            {% if user.role.superuser %}
                <div><span class="badge text-white bg-danger">superuser</span></div>
            {% endif %}
        </td>
        <td>
        </td>
        <td>
        {% if user.login_time %}
            {{ user.pretty_date(user.login_time) }}
            <time class="from-now" data-datetime="{{ user.login_time }}">
                <div class="text-muted">{{ user.login_time.strftime(("%-d %b %Y %H:%M %z")) }}</div>
            </time>
          {% endif %}
        </td>
        <td>
	  {% if user.created_at %}
          <time class="from-now" data-datetime="{{ user.created_at }}">
            {{ user.pretty_date(user.created_at) }}
            <div class="text-muted">{{ user.created_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
	  {% endif %}
        </td>
        <td>
        {% if user.updated_at %}
          <time class="from-now" data-datetime="{{ user.updated_at }}">
              {{ user.pretty_date(user.updated_at) }}
            <div class="text-muted">{{ user.updated_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
        {% endif %}
        </td>
        <td>
	{% if not user.locked %}
            {% if current_user.permission('admin.user', crud='update') %}
                <a class="btn btn-sm btn-primary" 
                   href="{{ url_for('admin.users_edit', id=user.id) }}" type="button">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            {% endif %}
            {% if current_user.permission('admin.user', crud='delete') %}
                {{ forms.action_confirm(
                    id="delete-user-confirm",
                    url=url_for('admin.users_delete', id=user.id),
                    title="Delete", 
                    btn="btn btn-sm btn-warning",
                    icon="bi bi-trash",
                    target="#confirmModal") 
                }}
            {% endif %}
	{% endif %}<!-- End of lock check -->
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{{ items.paginate(users) }}

{% with %}
{% set url_args = {'table': 'user'} %}
{{ forms.modal_bulk_action(
    id="bulkDelete",
    label="bulkDeleteLabel",
    title="Delete",
    text="Are you sure you want to delete the selected users?",
    url='admin.bulk_delete',
    btn_text="Delete",
    url_args=url_args
    )
}}
{% endwith %}

{% with %}
{% set url_args = {'table': 'user'} %}
{{ forms.modal_bulk_action(
    id="bulkDisable",
    label="bulkDisableLabel",
    title="Disable",
    text="Are you sure you want to disable the selected users?",
    url='admin.bulk_disable',
    btn_text="Disable",
    url_args=url_args
    )
}}
{% endwith %}

{% with %}
{% set url_args = {'table': 'user'} %}
{{ forms.modal_bulk_action(
    id="bulkEnable",
    label="bulkEnableLabel",
    title="Enable",
    text="Are you sure you want to enable the selected users?",
    url='admin.bulk_enable',
    btn_text="Enable",
    url_args=url_args
    )
}}
{% endwith %}

{{ forms.modal_bulk_action(
    id="bulkPasswordReset",
    label="bulkPasswordResetLabel",
    title="Send Password Reset Email",
    text="Are you sure you want to send a password reset email to the selected users?",
    url='admin.users_bulk_password_reset',
    btn_text="Send"
    )
}}

{{ forms.modal_bulk_action(
    id="bulkWelcomeEmail",
    label="bulkWelcomeEmailLabel",
    title="Send Welcome Email",
    text="Are you sure you want to send a welcome email to the selected users?",
    url='admin.users_bulk_welcome_email',
    btn_text="Send")
}}

{% with %}
  {% set form_fields = [user_form.entt] %}
  {{ forms.modal_bulk_action(
      id="bulkEditEntt",
      label="bulkEditEnttLabel",
      title="Bulk Edit Entitlement Template",
      text="",
      url='admin.bulk_edit_entt',
      btn_text="Submit",
      form=user_form,
      form_fields=form_fields
  ) }}
{% endwith %}

{% with %}
  {% set form_fields = [user_form.role] %}
  {{ forms.modal_bulk_action(
      id="bulkEditRole",
      label="bulkEditRoleLabel",
      title="Bulk Edit User Role",
      text="",
      url='admin.bulk_edit_role',
      btn_text="Submit",
      form=user_form,
      form_fields=form_fields
  ) }}
{% endwith %}

{% with %}
  {% set form_fields = [user_form.site] %}
  {{ forms.modal_bulk_action(
      id="bulkEditSite",
      label="bulkEditSiteLabel",
      title="Bulk Edit User Site",
      text="",
      url='admin.bulk_edit_site',
      btn_text="Submit",
      form=user_form,
      form_fields=form_fields
  ) }}
{% endwith %}


{% endif %}<!-- end if users exist -->
{% include "partials/confirm_dialog.html" %}
{% endblock content%}

{% block scripts %}
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
<script src="{{ url_for('static', filename='js/importCSV.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/userModalWarning.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectTableRow.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
{% endblock %}
