{% extends "layout.html" %}
{%- from "macros/navigation.html" import navlink with context -%}
{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}
{% import 'macros/pagination.html' as items %}
{% import 'macros/user.html' as account %}
{% set import_endpoint = 'admin.import_csv' %}
{% set table_name = 'user' %}

{% block title %}Users - Dashboard{% endblock %}

{% block content %}
{% set extra_setting_links = admin_user_sidebar(user=current_user) %}

{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

<!-- index -->

{{ forms.search('admin.users') }}
{% if users.total == 0 %}
    {% if request.args.get('q') %}
        <h3>No results found.</h3>
    {% endif %}
{% else %}

  {% include "actions_btn.html" %}
  <input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <label for="select_all"></label>
          <input id="select_all" name="select_all" type="checkbox">
        </th>
        <th class="col-header">
          {{ items.sort('username') }}
        </th>
        <th class="col-header">
          {{ items.sort('active') }}
        </th>
        <th class="col-header">
          {{ items.sort('role') }}
        </th>
        <th class="col-header">
          {{ items.sort('last_login_time', 'Last login') }}
        </th>
        <th class="col-header">
          {{ items.sort('created_at', 'Created') }}
        </th>
        <th class="col-header">
          {{ items.sort('updated_at', 'Last Updated') }}
        </th>
        <th>
        <!-- for edit and delete buttons -->
        </th>
      </tr>
    </thead>
    <tbody>
    {% for user in users.items %}
      <tr>
        <td>
          <label for="bulk_ids"></label>
          <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                 type="checkbox" value="{{ user.id }}">
        </td>
        <td>
            <a href="{{ url_for('admin.users_info', id=user.id) }}">
                    <h4>{{ user.username }}</h4>
                    {% if user.email %}
                    <div class="text-muted mb-1">{{ user.email }}</div>
                    {% if user.role.superuser %}
                        <p><span class="badge text-white bg-danger">superuser</span></p>
                    {% endif %}
                    {% endif %}
            </a>
        </td>
        <td>
            {{ user.render(user.active) }}
        </td>
        <td>
            {{ user.role }}
        </td>
        <td>
        {% if user.current_login_time %}
            {{ user.pretty_date(user.current_login_time) }}
            <time class="from-now" data-datetime="{{ user.current_login_time }}">
                <div class="text-muted">{{ user.current_login_time.strftime(("%-d %b %Y %H:%M %z")) }}</div>
            </time>
          {% endif %}
        </td>
        <td>
	  {% if user.created_at %}
          <time class="from-now" data-datetime="{{ user.created_at }}">
            {{ user.pretty_date(user.created_at) }}
            <div class="text-muted">{{ user.created_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
	  {% endif %}
        </td>
        <td>
        {% if user.updated_at %}
          <time class="from-now" data-datetime="{{ user.updated_at }}">
              {{ user.pretty_date(user.updated_at) }}
            <div class="text-muted">{{ user.updated_at.strftime("%-d %b %Y %H:%M %z") }}</div>
          </time>
        {% endif %}
        </td>
        <td>
	{% if not user.locked %}
            {% if current_user.permission('admin.user', crud='update') %}
                <a class="btn btn-sm btn-primary" 
                   href="{{ url_for('admin.users_edit', id=user.id) }}" type="button">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            {% endif %}
            {% if current_user.permission('admin.user', crud='delete') %}
                {{ forms.action_confirm(
                    id="delete-user-confirm",
                    url=url_for('admin.users_delete', id=user.id),
                    title="Delete", 
                    btn="btn btn-sm btn-warning",
                    icon="bi bi-trash",
                    target="#confirmModal") 
                }}
            {% endif %}
	{% endif %}<!-- End of lock check -->
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{{ items.paginate(users) }}

{{ forms.modal_bulk_action(
    id="bulkDelete",
    label="bulkDeleteLabel",
    title="Delete",
    text="Are you sure you want to delete the selected users?",
    url=url_for('admin.bulk_delete', table='user'),
    btn_text="Delete")
}}
{{ forms.modal_bulk_action(
    id="bulkDisable",
    label="bulkDisableLabel",
    title="Disable",
    text="Are you sure you want to disable the selected users?",
    url=url_for('admin.bulk_disable', table='user'),
    btn_text="Disable")
}}
{{ forms.modal_bulk_action(
    id="bulkEnable",
    label="bulkEnableLabel",
    title="Enable",
    text="Are you sure you want to enable the selected users?",
    url=url_for('admin.bulk_enable', table='user'),
    btn_text="Enable")
}}
{{ forms.modal_bulk_action(
    id="bulkPasswordReset",
    label="bulkPasswordResetLabel",
    title="Send Password Reset Email",
    text="Are you sure you want to send a password reset email to the selected users?",
    url=url_for('admin.users_bulk_password_reset'),
    btn_text="Send")
}}
{{ forms.modal_bulk_action(
    id="bulkWelcomeEmail",
    label="bulkWelcomeEmailLabel",
    title="Send Welcome Email",
    text="Are you sure you want to send a welcome email to the selected users?",
    url=url_for('admin.users_bulk_welcome_email'),
    btn_text="Send")
}}

{% endif %}<!-- end if users exist -->
{% include "partials/confirm_dialog.html" %}
{% endblock content%}

{% block scripts %}
<script src="{{ url_for('static', filename='js/adminIndex.js') }}"></script>
<script src="{{ url_for('static', filename='js/importCSV.js') }}"></script>
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/userModalWarning.js') }}"></script>
{% endblock %}
