{% extends "layout.html" %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}

{% block title %}User {{ user }}{% endblock %}

{% set active = 'admin.users' %}

{% block content %}

{% set extra_setting_links = admin_user_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <div class="h2">User {{ user}}</div>
    </div>
    {% if not user.locked %}
    	<div class="col-auto">
    	  <div class="btn-toolbar"> 
    	  {% if current_user.permission('admin.user', crud='update') %}
    	      <div class="btn-group mr-2"> 
    	          <a role="button" 
                     id="edit-url"
    	             href="{{ url_for('admin.users_edit', id=user.id) }}"
    	             class="btn btn-sm btn-primary">Edit
    	          </a>
    	      </div>
    	  {% endif %}
    	  {% if current_user.permission('admin.user', crud='delete') %}
    	      <div class="btn-group mr-2"> 
    	      {{ forms.action_confirm(
    	          id="delete-user-confirm",
    	          url=url_for('admin.users_delete', id=user.id),
    	          title="Delete", 
    	          btn="btn btn-sm btn-warning",
    	          icon_only=False,
    	          target="#confirmModal") 
    	      }}
    	      </div>
    	  {% endif %}
    	  </div><!-- end of toolbar -->
    	</div><!-- end of col toolbar -->
    {% endif %}<!-- end of lock check -->
</div><!-- end of row -->

<div class="row">
  <div class="col-md-5 well">
    <div role="tabpanel" class="tab-pane config-section" id="tab-panel">
    	<ul class="nav nav-tabs mb-3" role="tablist">
    		<li class="nav-item">
    			<a class="nav-link active" href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#work" aria-controls="work" role="tab" data-toggle="tab">Work</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" href="#leaveconfig" aria-controls="leaveconfig" role="tab" data-toggle="tab">Leave Settings</a>
    		</li>
    	</ul>

    	<div class="tab-content">
    		<div role="tabpanel" class="tab-pane active" id="general">
    			<div class="form-group">
                    	    <!-- Leave Settings -->
			    <div class="mb-2">
			    	<div><strong>Email</strong></div>
			    	<div>{{ user.email }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Username</strong></div>
			    	<div>{{ user.username }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>First Name</strong></div>
			    	<div>{{ user.first_name }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Middle Name</strong></div>
			    	<div>{{ user.middle_name }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Last Name</strong></div>
			    	<div>{{ user.last_name }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Full Name</strong></div>
			    	<div>{{ user.full_name }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Display Name</strong></div>
			    	<div>{{ user.dn }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Date of Birth</strong></div>
			    	<div>{{ user.fmt_date(user.dob) }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Age</strong></div>
			    	<div>{{ user.age }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Contact Number</strong></div>
			    	<div>{{ user.contact_number }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Role</strong></div>
			    	<div>{{ user.role }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Active</strong></div>
			    	<div>{{ user.render(user.active) }}</div>
			    </div>
			{% if current_user.permission('admin.user', crud='update') %}
			<a href="{{ url_for('admin.password_reset', id=user.id) }}" role="button" type="button">Reset Password</a>
			{% endif %}
                	</div>
    		</div>
    		<div role="tabpanel" class="tab-pane" id="work">
			    <div class="mb-2">
			    	<div><strong>Start Date</strong></div>
			    	<div>{{ user.fmt_date(user.start_date) }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Tenure</strong></div>
			    	<div>{{ user.work_tenure }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Department</strong></div>
			    	<div>{{ user.department }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Authoriser</strong></div>
			    	<div>{{ user.authoriser }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Job Title</strong></div>
			    	<div>{{ user.job_title }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Site</strong></div>
			    	<div>{{ user.site }}</div>
			    </div>
            </div>
    		<div role="tabpanel" class="tab-pane" id="leaveconfig">
    			<div class="form-group">
			    <div class="mb-2">
			    	<div><strong>Entitlement Template</strong></div>
			    	<div>{{ user.entt }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Leave Authoriser</strong></div>
			    	<div>{{ user.authoriser }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Leave Year Start</strong></div>
			    	<div>{{ user.fmt_date(user.leave_year_start) }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Used Days</strong></div>
			    	<div>{{ user.used_days }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Days Left</strong></div>
			    	<div>{{ user.days_left }}</div>
			    </div>
			    <div class="mb-2">
			    	<div><strong>Carry Over Days</strong></div>
			    	<div>{{ user.carry_over_days }}</div>
			    </div>
    			</div>
            	</div>
      		<hr/>
        </div>
    </div>
  </div><!-- End of Col -->
  <!-- Login Activity Column -->
    {% include "user/login_activity.html" %}
</div>
{% include "partials/confirm_dialog.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
<script src="{{ url_for('static', filename='js/userModalWarning.js') }}"></script>
<script>
// on load of the page: switch to the currently selected tab
var hash = window.location.hash;
var editURL = document.getElementById('edit-url');
editURL.href = '{{ url }}' + hash;
$('#tab-panel a[href="' + hash + '"]').tab('show');
$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
    editURL.href = '{{ url }}' + '#' + id;
});
</script>
{% endblock scripts %}
