  <div class="col-sm">
    {% if user.created_at %}
    <div class="form-group">
      <label class="control-label"><strong>Created</strong></label>
      <p class="sm-margin-bottom form-control-static">
        <time class="from-now" data-datetime="{{ user.created_at }}">
          {{ user.pretty_date(user.created_at) }}
          <span class="text-muted small ml-2">{{ user.created_at.strftime("%-d %b %Y %H:%M %z") }}</span>
        </time>
      </p>
    </div>
    {% endif %}
    <legend>Login activity</legend>

    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <dt>Login date</dt>
          <dd class="sm-margin-bottom">
            {% if user.login_time %}
              <time class="from-now"
                    data-datetime="{{ user.login_time }}">
                {{ user.pretty_date(user.login_time) }}
                <span class="text-muted small ml-2">{{ user.login_time.strftime("%-d %b %Y %H:%M %z") }}</span>
              </time>
            {% endif %}
          </dd>
          <dt>Login IP address</dt>
          <dd class="sm-margin-bottom">{{ user.login_ip_address }}</dd>
        </dl>
      </div>
    </div>
  </div>
