{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}

{% block content %}

{% set endpoint = 'admin.password_reset' %}
{% set form_kwargs = {'id': user.id} %}
{% set button = 'Submit' %}
{% set legend = 'Reset Password' %}

<div class="row">
    <div class="col-md-5 well">
    <legend>{{ legend }}</legend>
    <hr>

    {% call f.form_tag(endpoint, form=form, **form_kwargs) %}
    
    {% call f.form_group(form.password) %}
    {% endcall %}
    
    {% call f.form_group(form.password2) %}
    {% endcall %}
    
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-block">
            {{ button }}
        </button>
      </div>
      <div class="col-md-6">
      	<a href="{{ url_for('admin.users_edit', id=user.id) }}"
      	    class="btn btn-light bg-opacity-10 btn-block">
      	  Cancel
      	</a>
      </div>
    </div>
    {% endcall %}
    </div>
</div>


{% endblock %}
