{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}

{%- from "macros/navigation.html" import sidebaritems with context -%}

{% set active = 'admin.roles' %}
{% set button = 'Save' %}

{% if request.endpoint.endswith('new') %}
    {% set endpoint = 'admin.roles_new' %}
    {% set form_kwargs = {} %}
    {% set legend = 'Create New Role' %}
{% else %}
    {% set endpoint = 'admin.roles_edit' %}
    {% set form_kwargs = {'id': role.id} %}
    {% set legend = 'Edit ' + role.name %}
{% endif %}

{% block content %}

  {% set extra_setting_links = admin_role_sidebar(user=current_user) %}
  {% include "menu.html" %}
  {{ sidebaritems(extra_setting_links) }}
  <legend>{{ legend }}</legend>

  {% call f.form_tag(endpoint, form=form, **form_kwargs) %}

      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.description, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.superuser, css_class='sm-margin-bottom') %}
      <span>
	  <small class="text-muted">
       Designates that this user has all admin permissions without explicitly assigning them
      </small>
      </span>
      {% endcall %}

      <!-- ADMIN PERMISSIONS -->
      <br>

      <div role="tabpanel" class="tab-pane config-section" id="tab-panel">
      	<ul class="nav nav-tabs mb-3" role="tablist">
      		<li class="nav-item">
      			<a class="nav-link active" href="#general" aria-controls="general" role="tab" data-toggle="tab">General Permissions</a>
      		</li>
      		<li class="nav-item">
      			<a class="nav-link" href="#admin" aria-controls="admin" role="tab" data-toggle="tab">Admin Permissions</a>
      		</li>
      	</ul>
    	<div class="tab-content">
    		<div role="tabpanel" class="tab-pane active" id="general">
                <legend>Posts</legend>

                {% call f.form_group(form.can_create_posts, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.can_edit_posts, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.can_delete_posts, css_class='sm-margin-bottom') %}
                {% endcall %}

                <legend>Comments</legend>

                {% call f.form_group(form.can_create_comments, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.can_edit_comments, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.can_delete_comments, css_class='sm-margin-bottom') %}
                {% endcall %}

                <legend>Profile</legend>

                {% call f.form_group(form.user_edit_email, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.user_edit_username, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.user_edit_first_name, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.user_edit_middle_name, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.user_edit_last_name, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.user_edit_image_file, css_class='sm-margin-bottom') %}
                {% endcall %}

                {% call f.form_group(form.user_edit_bio, css_class='sm-margin-bottom') %}
                {% endcall %}
            </div>
    		<div role="tabpanel" class="tab-pane" id="admin">
                {% call f.form_group(form.permissions, css_class='sm-margin-bottom') %}
                {% endcall %}
            </div>
        </div>
      </div>

  <!-- Submit buttons -->
  <hr/>
  <div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary btn-block mr-3">{{ button }}</button>
    </div>
    <div class="col">
      <div class="visible-xs visible-sm sm-margin-top"></div>
      {% if request.endpoint.endswith('new') %}
      <a href="{{ url_for('admin.roles') }}"
          class="btn btn-light bg-opacity-10 btn-block">
            Cancel
      </a>
      {% else %}
      <a href="{{ url_for('admin.roles_info', id=role.id) }}"
          id="info-url"
          class="btn btn-light bg-opacity-10 btn-block">
            Cancel
      </a>
      {% endif %}
    </div>
  </div>
  {% endcall %}
  <!-- End of Submit buttons -->
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>

<script>
// on load of the page: switch to the currently selected tab
var hash = window.location.hash;
var infoURL = document.getElementById('info-url');
infoURL.href = '{{ url }}' + hash;
$('#tab-panel a[href="' + hash + '"]').tab('show');
$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
    var id = $(e.target).attr("href").substr(1);
    window.location.hash = id;
    infoURL.href = '{{ url }}' + '#' + id;
});
</script>
{% endblock %}
