{% extends "layout.html" %}
{% import 'macros/form.html' as f with context %}

{%- from "macros/navigation.html" import sidebaritems with context -%}

{% set active = 'admin.roles' %}
{% set button = 'Save' %}

{% if request.endpoint.endswith('new') %}
    {% set endpoint = 'admin.roles_new' %}
    {% set form_kwargs = {} %}
    {% set legend = 'Create New Role' %}
{% else %}
    {% set endpoint = 'admin.roles_edit' %}
    {% set form_kwargs = {'id': role.id} %}
    {% set legend = 'Edit ' + role.name %}
{% endif %}

{% block content %}
  {% set extra_setting_links = admin_role_sidebar(user=current_user) %}
  {% include "menu.html" %}
  {{ sidebaritems(extra_setting_links) }}
  <legend>{{ legend }}</legend>

  {% call f.form_tag(endpoint, form=form, **form_kwargs) %}

      {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.description, css_class='sm-margin-bottom') %}
      {% endcall %}

      {% call f.form_group(form.superuser, css_class='sm-margin-bottom') %}
      <span>
	  <small class="text-muted">
       Designates that this user has all permissions without explicitly assigning them
      </small>
      </span>
      {% endcall %}

      <!-- PERMISSIONS -->
      <br>

      {% call f.form_group(form.permissions, css_class='sm-margin-bottom') %}
      {% endcall %}

  <!-- Submit buttons -->
  <hr/>
  <div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-block mr-3">{{ button }}</button>
    </div>
    <div class="col-md-6">
      <div class="visible-xs visible-sm sm-margin-top"></div>
      <a href="{{ url_for('admin.roles') }}"
          class="btn btn-light bg-opacity-10 btn-block">
        Cancel
      </a>
    </div>
  </div>
  {% endcall %}
  <!-- End of Submit buttons -->
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/select2forms.js') }}"></script>
{% endblock %}
