{% extends "layout.html" %}
{% block title %}Admin - Role Info{% endblock %}

{%- from "macros/navigation.html" import sidebaritems with context -%}
{% import 'macros/form.html' as forms with context %}
{% set active = 'admin.roles' %}

{% block content %}

{% set extra_setting_links = admin_role_sidebar(user=current_user) %}
{% include "menu.html" %}
{{ sidebaritems(extra_setting_links) }}

<div class="row justify-content-between align-items-center mb-3">
    <div class="col-auto">
        <div class="h2">Role {{ role.name }}</div>
    </div>
    <div class="col-auto">
      <div class="btn-toolbar"> 
      {% if current_user.permission('admin.role', crud='update') %}
          <div class="btn-group mr-2"> 
              <a role="button" 
                 href="{{ url_for('admin.roles_edit', id=role.id) }}"
                 class="btn btn-sm btn-primary">Edit
              </a>
          </div>
      {% endif %}
      {% if current_user.permission('admin.role', crud='delete') %}
          <div class="btn-group mr-2"> 
          {{ forms.action_confirm(
              id="delete" ~ role.id,
              url=url_for('admin.roles_delete', id=role.id),
              title="Delete", 
              btn="btn btn-sm btn-warning",
              icon_only=False,
              target="#confirmModal") 
          }}
          </div>
      {% endif %}
      </div><!-- end of toolbar -->
    </div><!-- end of col toolbar -->
</div><!-- end of row -->


<div class="row">
  <div class="col-md-5 well">
    	<div class="form-group">
	        <div class="mb-2">
	        	<div><strong>Name</strong></div>
	        	<div>{{ role.name }}</div>
	        </div>
	        {% if role.description %}
	        <div class="mb-2">
	        	<div><strong>Description</strong></div>
	        	<div>{{ role.description }}</div>
	        </div>
	        {% endif %}
	        <div class="mb-2">
	        	<div><strong>Superuser?</strong></div>
	        	<div>{{ role.render(role.superuser) }}</div>
	        </div>
	        <div class="mb-2">
	        	<div><strong>Admin Permissions</strong></div>
		    {% for p in role.permissions %}
		    <div>{{ p }}</div>
		    {% endfor %}
	        </div>
	        <div class="mb-2">
	        	<div><strong>General Permissions</strong></div>
                <div>{{ role.render(role.can_create_posts) }} Create Posts - Users can create new posts</div>
                <div>{{ role.render(role.can_edit_posts) }} Edit Posts - Users can edit their own posts</div>
                <div>{{ role.render(role.can_delete_posts) }} Delete Posts - Users can delete their own posts</div>
                <div>{{ role.render(role.can_create_comments) }} Create Comments - Users can create new comments</div>
                <div>{{ role.render(role.can_edit_comments) }} Edit Comments - Users can edit their own comments</div>
                <div>{{ role.render(role.can_delete_comments) }} Delete Comments - Users can delete their own comments</div>
                <div>{{ role.render(role.user_edit_email) }} Edit Email - Users can edit their email in the profile section</div>
                <div>{{ role.render(role.user_edit_username) }} Edit Username - Users can edit their username in the profile section</div>
                <div>{{ role.render(role.user_edit_image_file) }} Edit Image - Users can update their profile picture</div>
                <div>{{ role.render(role.user_edit_bio) }} Edit Bio - Users can update their biography in the profile section </div>
        </div>
  </div>
</div>
{% include "partials/confirm_dialog.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/confirmModal.js') }}"></script>
{% endblock scripts %}
