{% extends "layout.html" %}
{% block title %}{{ instance }} - Changes{% endblock %}
{% block content %}
<div class="mt-3">
    <h4 class="h4">Changes {{ count }}</h4>
    {% for version in versions.items %}
        {% set v_index %}
        {{ ((count) - loop.index) - ((page - 1) * versions.per_page) }}
        {% endset %}
        <div class="card mb-4">
            <div class="card-header">
                <span class="h6 me-2">#{{ version.transaction.id }}</span><!-- Transaction id -->
                {#
                <span class="h6 me-2">{{ version.transaction.issued_at.strftime("%-d %b, %Y") }}</span>
                <span class="me-2 text-muted">{{ version.transaction.issued_at.strftime("%H:%M:%S %z") }}</span>

                <a href="{{ url_for('user.profile', username=version.transaction.user.username) }}" class="me-2">{{ version.transaction.user.username }}</a>
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    {% if loop.index0 != 0 %}
                        <button id="{{ version.transaction.id }}" class="revertModalBtn btn btn-primary btn-sm me-2" 
                        role="button" data-toggle="modal" data-target="#revertModal"
                        data-url="{{ url_for('main.revert_change', model_name=data_type, instance_id=instance.id, version=v_index) }}">
                            Revert
                        </button>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-body">
                {% for key, values in version.changeset.items() %}
                {% if key not in ["created_at"] %}
                <div>{{ key }}: <span class="text-danger fw-bold">{{ values[0] }}</span> > <span class="text-success fw-bold">{{ values[1] }}</span></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">
            {% for page_num in versions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if versions.page == page_num %}
                        <li class="page-item active">
                            <a class="page-link disabled" href="#">{{ page_num }}
                            <span class="sr-only">(current)</span>
                          </a>
                        </li>
                    {% else %}
                      <li class="page-item">
                          <a class="page-link" href="{{ url_for('main.changes', model_name=data_type, instance_id=instance.id, page=page_num) }}">{{ page_num }}
                          <span class="sr-only">(current)</span>
                        </a>
                      </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>
<!-- Revert Modal -->
<div class="modal fade" id="revertModal" tabindex="-1" aria-labelledby="revertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="revertModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span style="color: #fff;" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
      This object will be reverted to the selected version. Are you sure?
      </p>
      <a id="confirm-revert" class="btn btn-primary" type="submit">Revert</a>
      <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script> 
$(document).ready(function(){
    $(".revertModalBtn").on("click", function(event){
        // Get the button that triggered the modal
        // and extract url value
        var url = event.target.getAttribute('data-url');
        console.log(url);
        // provide the extracted value to the modal button
        document.getElementById('confirm-revert').setAttribute('href', url);
        
        // Set the modal title
        // get transaction id from the button custom attribute 'id'
        const id = event.target.attributes.getNamedItem('id');
        const title = "Revert to version #" + id.textContent;
        document.getElementById('revertModalLabel').innerHTML = title;
    });
});
</script>
{% endblock %}
